Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Secret scanning to prevent leaks
    trufflehog:
      run: trufflehog filesystem {staged_files} --fail
    
    # Root topology hygiene to catch unclassified files
    topology-hygiene:
      run: ./scripts/tooling/topology-hygiene-check.sh

    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

    # Verify Convex contracts before pushing
    convex-check:
      run: pnpm test:contract
      fail_text: "Convex contract check failed."

docs(release): record grading release (MIS-162) (#189)
  docs/runbook.md
Due: format

refactor(grading): one recall rule, remove exact/flexible answer form (MIS-162)
  SPEC.md
  USER_STORIES.md
  VISION.md
  cmd/scry/main.go
  docs/runbook.md
  internal/generation/v5_dispatch_test.go
  internal/generation/v5_question.go
  internal/generation/v5_robustness_test.go
  internal/generation/v5_task.go
  internal/generation/v5_validation_test.go
  internal/generation/v5_worker_test.go
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/store/library.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/review.go
  internal/store/review_test.go
  internal/store/v5_test.go
  internal/web/review_test.go
  internal/web/v5_test.go
Due: format

docs(release): clarify shutdown and backup timing (MIS-162)
  docs/runbook.md
Due: format

refactor(grading): one recall rule, remove exact/flexible answer form (MIS-162) (#190)
  SPEC.md
  USER_STORIES.md
  VISION.md
  cmd/scry/main.go
  docs/runbook.md
  internal/generation/v5_dispatch_test.go
  internal/generation/v5_question.go
  internal/generation/v5_robustness_test.go
  internal/generation/v5_task.go
  internal/generation/v5_validation_test.go
  internal/generation/v5_worker_test.go
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/store/library.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/review.go
  internal/store/review_test.go
  internal/store/v5_test.go
  internal/web/review_test.go
  internal/web/v5_test.go
Due: format

docs(release): record single grading rule release and holdout (MIS-162)
  docs/runbook.md
Due: format

docs(release): record single grading rule release and holdout (MIS-162) (#191)
  docs/runbook.md
Due: format

fix(hosting): recover stale container lifecycle (MIS-168)
  deploy/cloudflare-hosting/container-lifecycle.mjs
  deploy/cloudflare-hosting/container.test.mjs
  docs/runbook.md
Due: format

docs(hosting): record checked incident recovery proof (MIS-168)
  docs/runbook.md
Due: format

feat(factory): walk US-001 US-002 US-003 US-004 US-005 US-006 US-007 US-008 US-009 US-010 US-011 (MIS-150)
  .agents/skills/scry-qa/SKILL.md
  .exe/setup.sh
  .github/workflows/ci.yml
  README.md
  docs/adr/001-go-sqlite-authority.md
  docs/adr/002-access-ingress.md
  docs/adr/003-dev-identity.md
  docs/adr/004-foundation-story-walk.md
  docs/adr/README.md
  docs/postmortems/README.md
  docs/postmortems/TEMPLATE.md
  features/README.md
  features/capture.md
  features/concepts.md
  features/study.md
  foundation.json
  qa/walk
  qa/walk-specs.mjs
  qa/walk.mjs
Due: format

fix(factory): keep Playwright package code unprivileged (MIS-150)
  .exe/setup.sh
Due: none

feat(factory): adopt required Scry foundations (MIS-150) (#193)
  .agents/skills/scry-qa/SKILL.md
  .exe/setup.sh
  .github/workflows/ci.yml
  README.md
  docs/adr/001-go-sqlite-authority.md
  docs/adr/002-access-ingress.md
  docs/adr/003-dev-identity.md
  docs/adr/004-foundation-story-walk.md
  docs/adr/README.md
  docs/postmortems/README.md
  docs/postmortems/TEMPLATE.md
  features/README.md
  features/capture.md
  features/concepts.md
  features/study.md
  foundation.json
  qa/walk
  qa/walk-specs.mjs
  qa/walk.mjs
Due: format

ci(factory): pin foundation-check with exact receipt criteria (MIS-150)
  .github/workflows/ci.yml
  foundation.json
Due: format

ci(factory): pin foundation-check with exact receipt criteria (MIS-150) (#194)
  .github/workflows/ci.yml
  foundation.json
Due: format

fix(ci): run the host gate's critic browser cases on the ws workspace (MIS-150)
  .exe/setup.sh
  README.md
  docs/qa/system.md
  scripts/scry-ci
Due: format

fix(ci): run the host gate's critic browser cases on the ws workspace (MIS-150) (#195)
  .exe/setup.sh
  README.md
  docs/qa/system.md
  scripts/scry-ci
Due: format

ci(factory): nightly full story walk and a cheap pre-push foundation check (MIS-150)
  .githooks/pre-push
  .github/workflows/nightly.yml
  README.md
Due: format

ci(factory): nightly full story walk and a cheap pre-push foundation check (MIS-150) (#196)
  .githooks/pre-push
  .github/workflows/nightly.yml
  README.md
Due: format

ci(factory): add a failure-response drill to the nightly walk (MIS-150)
  .github/workflows/nightly.yml
Due: none

ci(factory): add a failure-response drill to the nightly walk (MIS-150) (#197)
  .github/workflows/nightly.yml
Due: none

ci(factory): make the nightly failure issue accurate about evidence (MIS-150)
  .github/workflows/nightly.yml
Due: none

ci(factory): make the nightly failure issue accurate about evidence (MIS-150) (#199)
  .github/workflows/nightly.yml
Due: none

ci(factory): add the foundation review gate and run the checker outside the checkout (MIS-150)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
Due: none

ci(factory): add the foundation review gate and run the checker outside the checkout (MIS-150) (#200)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
Due: none

chore: review-gate drill, do not merge (MIS-150)
  foundation/extensions/2026-09-25-gate-drill.json
Due: format

ci(factory): pin the foundation checker whose escalation clears through the agent reviewer (MIS-150)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
Due: none

ci(factory): pin the foundation checker whose escalation clears through the agent reviewer (MIS-150) (#202)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
Due: none

chore: escalation drill, do not merge (MIS-150)
  foundation/extensions/2026-09-25-escalation-drill.json
Due: format

ci(factory): pin the foundation checker that reads the resolution marker only as a review's first line (MIS-150)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
Due: none

ci(factory): pin the foundation checker that reads the resolution marker only as a review's first line (MIS-150) (#204)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
Due: none

chore: resolution drill, do not merge (MIS-150)
  foundation/extensions/2026-09-25-resolution-drill.json
Due: format

chore(foundation): adopt catalog 1.4.0 with timeboxed ops gaps (MIS-150, US-027)
  .github/workflows/ci.yml
  .github/workflows/foundation-review.yml
  .github/workflows/nightly.yml
  foundation.json
  foundation/extensions/2026-09-26-catalog-1.4.0.json
Due: format

docs(incident): record cutover backup postmortem (MIS-173)
  docs/postmortems/2026-09-27-unobserved-cutover-backup-failure.md
  docs/postmortems/README.md
Due: format

docs(incident): record cutover backup postmortem (MIS-173) (#207)
  docs/postmortems/2026-09-27-unobserved-cutover-backup-failure.md
  docs/postmortems/README.md
Due: format

fix(semantic): isolate Jev credential from generation
  README.md
  SPEC.md
  cmd/scry/main.go
  cmd/scry/main_test.go
  deploy/cloudflare-hosting/README.md
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
  deploy/cloudflare-hosting/wrangler.jsonc
  deploy/scry.env.example
  docs/evals/jev-recall-20260922/README.md
  docs/runbook.md
  internal/semantic/critic_live_test.go
  scripts/evals/jev-recall/main.go
  scripts/evals/jev-recall/main_test.go
Due: format

fix(semantic): reject malformed dedicated keys before startup
  cmd/scry/main.go
  cmd/scry/main_test.go
  docs/runbook.md
  scripts/evals/jev-recall/main.go
  scripts/evals/jev-recall/main_test.go
Due: format

feat(web): single-field Add screen with responsive privacy boundary (US-013)
  README.md
  SPEC.md
  USER_STORIES.md
  VISION.md
  deploy/cloudflare-hosting/nginx.conf
  docs/qa/system.md
  features/capture.md
  internal/web/assets/app.css
  internal/web/assets/app.js
  internal/web/assets/fonts/JetBrainsMono-AUTHORS.txt
  internal/web/assets/fonts/JetBrainsMono-OFL.txt
  internal/web/assets/fonts/JetBrainsMono-Scry.woff2
  internal/web/library.go
  internal/web/server.go
  internal/web/templates/layout.html
  internal/web/templates/library.html
  internal/web/v5_test.go
  qa/walk-specs.mjs
Due: format, lint

docs: add first-screen cutover and token architecture resume note
  docs/resume-2026-09-28-first-screen.md
Due: format

fix(docs): map only live stories in features/capture.md
  features/capture.md
Due: format
