Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files (no coverage)
    # Typecheck runs in pre-commit (changed files) + CI (full codebase)
    # Coverage enforced in CI with proper tracking
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

docs(architecture): correct root inventory rationale and tracked artifact notes
  docs/architecture/root-topology-inventory.md
Due: format

docs(architecture): verify .pi tracked count and document findings
  docs/architecture/root-topology-inventory.md
Due: format

docs(architecture): incorporate review findings on config divergence and artifact history
  docs/architecture/root-topology-inventory.md
Due: format

chore(tooling): complete removal of redundant .lefthook.yml
  .lefthook.yml
Due: none

docs(architecture): inventory root topology for cleanup slice (#274)
  .lefthook.yml
  docs/architecture/lefthook-audit.md
  docs/architecture/root-topology-inventory.md
  lefthook.yml
  scripts/tooling/topology-hygiene-check.sh
Due: format

ops(#273): CI/ops cutover and rollback plan for Bun migration
  .github/workflows/ci-bun.yml
  docs/guides/BUN_MIGRATION_GUIDE.md
  docs/operations/BUN_ROLLBACK_RUNBOOK.md
  package.json
  scripts/tooling/run-bun-parity-matrix.sh
Due: format

ops: harden CI and resolve Bun migration feedback (#273)
  .github/workflows/ci-bun.yml
  .github/workflows/ci.yml
  CLAUDE.md
  docs/guides/BUN_MIGRATION_GUIDE.md
  docs/operations/BUN_ROLLBACK_RUNBOOK.md
  package.json
Due: format

fix(ci): use bun pm scan instead of non-existent audit
  .github/workflows/ci-bun.yml
Due: none

fix(ci): remove bun pm scan - requires security scanner config
  .github/workflows/ci-bun.yml
Due: none

fix(ci): simplify exit code capture logic with debug output
  .github/workflows/ci-bun.yml
Due: none

fix(ci): remove frozen-lockfile since bun.lock not committed
  .github/workflows/ci-bun.yml
Due: none

fix(stripe): allow flexible API version for cross-environment compatibility
  lib/stripe.ts
Due: format, lint, typecheck

fix(ci): update Bun version check to match 1.3.x
  .github/workflows/ci-bun.yml
Due: none

chore(#270): finalize root hygiene + canonical qa command
  .playwright-mcp/signin-email-sent-state.png
  .playwright-mcp/signin-page-redesigned.png
  README.md
  docs/architecture/root-topology-inventory.md
  docs/guides/BUN_MIGRATION_GUIDE.md
  package.json
Due: format

polish(#270,#273): fix ignore pattern and dedupe overrides
  .gitignore
  package.json
  pnpm-lock.yaml
Due: format

fix(ci): keep pnpm overrides as single source of truth
  package.json
  pnpm-lock.yaml
Due: format

fix(ci): use pnpm overrides + bun resolutions for audit parity
  bun.lock
  package.json
  pnpm-lock.yaml
Due: format

chore(ci): align typecheck command surface across pnpm and bun
  .github/workflows/ci-bun.yml
  .github/workflows/ci.yml
  docs/guides/BUN_MIGRATION_GUIDE.md
Due: format

docs(package): clarify pnpm vs bun dependency pin ownership
  package.json
Due: format

ops(#273): CI/ops cutover and rollback plan for Bun migration (#277)
  .github/workflows/ci-bun.yml
  .gitignore
  .playwright-mcp/signin-email-sent-state.png
  .playwright-mcp/signin-page-redesigned.png
  CLAUDE.md
  README.md
  bun.lock
  docs/architecture/root-topology-inventory.md
  docs/guides/BUN_MIGRATION_GUIDE.md
  docs/operations/BUN_ROLLBACK_RUNBOOK.md
  package.json
  pnpm-lock.yaml
  scripts/tooling/run-bun-parity-matrix.sh
Due: format

chore(pi): codify PR feedback close-loop prompt + persona overlay
  .pi/persona.md
  .pi/prompts/respond-close-loop.md
  .pi/settings.json
Due: format

fix(prompt): harden respond-close-loop against prompt injection
  .pi/prompts/respond-close-loop.md
Due: format

chore(pi): codify PR feedback close-loop prompt + persona overlay (#279)
  .pi/persona.md
  .pi/prompts/respond-close-loop.md
  .pi/settings.json
Due: format

refactor(concepts): extract recordInteraction core to interactions module
  convex/concepts.ts
  convex/interactions.ts
Due: format, lint, typecheck

docs(interactions): codify recordInteractionCore invariants
  convex/interactions.ts
Due: format, lint, typecheck

test: cover recordInteractionCore extraction invariants
  convex/interactions.test.ts
Due: format, lint, typecheck

feat(seo): add launch SEO fundamentals (#168)
  app/layout.tsx
  app/page.tsx
  app/robots.ts
  app/sitemap.ts
Due: format, lint, typecheck

fix(seo): harden site URL + server-render JSON-LD
  app/layout.tsx
  app/page.tsx
  app/robots.ts
  app/sitemap.ts
  lib/site-url.ts
Due: format, lint, typecheck

fix(seo): align default canonical URL with env template
  lib/site-url.ts
Due: format, lint, typecheck

ci: add trufflehog workflow
  .github/workflows/trufflehog.yml
Due: none

ci: add merge gate
  .github/workflows/ci.yml
Due: none

ci: add trufflehog workflow (#283)
  .github/workflows/ci.yml
  .github/workflows/trufflehog.yml
Due: none
