Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Comprehensive TypeScript check before pushing
    typecheck:
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Cannot push with type errors."

    # Run tests to ensure nothing is broken
    test:
      run: pnpm test
      fail_text: "Tests failed. Fix failing tests before pushing."

chore: add playwright smoke tag and script
  TODO.md
  package.json
  tests/e2e/spaced-repetition.test.ts
Due: format, lint, typecheck

chore: add preview smoke playwright run
  .github/workflows/preview-smoke-test.yml
  TODO.md
Due: format

chore: add nightly e2e and coverage workflow
  .github/workflows/nightly-e2e.yml
  TODO.md
Due: format

chore: add pre-push coverage gates
  TODO.md
  lefthook.yml
Due: format

chore: add scoped test scripts
  TODO.md
  package.json
Due: format

docs: refresh testing lanes and coverage guardrails
  TODO.md
  docs/guides/testing-convex.md
  tests/README.md
Due: format

docs: add codecov project and patch badges
  README.md
  TODO.md
Due: format

chore: optimize test execution and coverage configuration
  hooks/use-review-flow.test.ts
  lefthook.yml
  scripts/test-changed-batches.sh
  tests/convex/coverage-regressions.test.ts
  vitest.config.ts
Due: format, lint, typecheck

fix: prevent pre-push hook hang with proper base ref and batching
  scripts/test-changed-batches.sh
Due: none

perf: optimize pre-push hook to <3s by removing slow checks
  lefthook.yml
Due: none

fix: temporarily disable vitest-coverage-report-action
  .github/workflows/ci.yml
Due: none

fix: address P1 PR review feedback
  README.md
  package.json
  scripts/test-changed-batches.sh
  vitest.config.ts
Due: format, lint, typecheck

docs: add PR #81 follow-up tasks to backlog
  BACKLOG.md
Due: format

chore: update lockfile for esbuild caret range
  pnpm-lock.yaml
Due: none

fix: address final P2 review feedback
  playwright.config.ts
  tests/README.md
Due: format, lint, typecheck

feat: add useInstantFeedback hook for immediate answer feedback
  hooks/use-instant-feedback.test.ts
  hooks/use-instant-feedback.ts
Due: format, lint, typecheck

feat: add ARIA live region for instant answer feedback
  components/review-flow.tsx
Due: format, lint, typecheck

feat: integrate instant feedback into submit handler
  components/review-flow.tsx
Due: format, lint, typecheck

feat: add instant feedback support to ReviewQuestionDisplay
  components/review-question-display.tsx
Due: format, lint, typecheck

feat: wire instant feedback to ReviewQuestionDisplay
  components/review-flow.tsx
Due: format, lint, typecheck

docs: update TODO with completion status and acceptance criteria
  TODO.md
Due: format

test: add comprehensive integration tests for instant feedback
  BACKLOG.md
  TASK.md
  TODO.md
  components/review-flow.test.tsx
Due: format, lint, typecheck

fix: address PR review feedback for instant answer feature
  components/review-flow.test.tsx
  components/review-flow.tsx
  components/review-question-display.tsx
Due: format, lint, typecheck

fix: critical bug - feedback section and Next button not showing
  components/review-flow.test.tsx
  components/review-flow.tsx
Due: format, lint, typecheck

feat: add updateConcept mutation for in-review editing
  convex/concepts.ts
  tests/convex/concepts.update.test.ts
Due: format, lint, typecheck

feat: implement updatePhrasing mutation with comprehensive tests
  BACKLOG.md
  TASK.md
  TODO.md
  convex/concepts.ts
  tests/convex/concepts.update.test.ts
  tests/helpers/convexFixtures.ts
Due: format, lint, typecheck

docs: mark updatePhrasing task complete in TODO.md
  TODO.md
Due: format

feat: implement unarchivePhrasing mutation with comprehensive tests
  convex/concepts.ts
  tests/convex/concepts.archive.test.ts
Due: format, lint, typecheck

docs: mark unarchivePhrasing task complete, Phase 1 done
  TODO.md
Due: format

feat: add useInlineEdit hook for state management
  hooks/use-inline-edit.test.ts
  hooks/use-inline-edit.ts
Due: format, lint, typecheck

docs: mark useInlineEdit hook task complete
  TODO.md
Due: format

feat: extend use-concept-actions with edit and undo support
  hooks/use-concept-actions.test.ts
  hooks/use-concept-actions.ts
Due: format, lint, typecheck

docs: mark use-concept-actions extension complete
  TODO.md
Due: format

feat: add inline editing to review-flow
  components/review-flow.tsx
Due: format, lint, typecheck

docs: update TODO with completed inline editing task
  TODO.md
Due: format

feat: integrate undo toasts for archive actions
  components/review-flow.tsx
  hooks/use-concept-actions.test.ts
  hooks/use-concept-actions.ts
Due: format, lint, typecheck

docs: update TODO with completed archive integration task
  TODO.md
Due: format

feat: handle archive last phrasing edge case
  components/review-flow.tsx
Due: format, lint, typecheck

docs: update TODO with completed edge case handling
  TODO.md
Due: format

feat: implement optimistic UI updates for inline phrasing edits
  TODO.md
  components/review-flow.tsx
  components/review-question-display.tsx
  components/review/phrasing-edit-form.tsx
  components/review/review-actions-dropdown.test.tsx
  components/review/review-actions-dropdown.tsx
  convex/concepts.ts
  hooks/use-concept-actions.ts
  hooks/use-inline-edit.ts
  hooks/use-keyboard-shortcuts.test.ts
  hooks/use-keyboard-shortcuts.ts
  tests/e2e/review-editing.test.ts
  vitest.setup.ts
Due: format, lint, typecheck
