Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Secret scanning to prevent leaks
    trufflehog:
      run: trufflehog filesystem {staged_files} --fail
    
    # Root topology hygiene to catch unclassified files
    topology-hygiene:
      run: ./scripts/tooling/topology-hygiene-check.sh

    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

    # Verify Convex contracts before pushing
    convex-check:
      run: pnpm test:contract
      fail_text: "Convex contract check failed."

fix: block interactions on archived records
  convex/interactions.test.ts
  convex/interactions.ts
Due: format, lint, typecheck

docs(interactions): codify recordInteractionCore invariants
  convex/interactions.ts
Due: format, lint, typecheck

test: cover recordInteractionCore extraction invariants
  convex/interactions.test.ts
Due: format, lint, typecheck

refactor(concepts): extract recordInteraction core to interactions module
  convex/concepts.ts
  convex/interactions.ts
Due: format, lint, typecheck

Replace favicon with elegant purple gem/crystal icon
  app/apple-icon.png
  app/favicon.ico
  app/icon.svg
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-192x192.png
  public/icons/icon-32x32.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/icons/icon.svg
Due: none

Use app primary blue for favicon instead of purple gradient
  app/apple-icon.png
  app/favicon.ico
  app/icon.svg
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-192x192.png
  public/icons/icon-32x32.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/icons/icon.svg
Due: none

Fix critical audit and root topology drift
  docs/architecture/root-topology-inventory.md
  package.json
  pnpm-lock.yaml
Due: format

Fix remaining CI: update bun.lock, stabilize trufflehog
  .github/workflows/trufflehog.yml
  bun.lock
Due: none

Replace favicon with elegant purple gem/crystal icon (#298)
  .github/workflows/trufflehog.yml
  app/apple-icon.png
  app/favicon.ico
  app/icon.svg
  bun.lock
  docs/architecture/root-topology-inventory.md
  package.json
  pnpm-lock.yaml
  public/icons/icon-128x128.png
  public/icons/icon-144x144.png
  public/icons/icon-152x152.png
  public/icons/icon-192x192.png
  public/icons/icon-32x32.png
  public/icons/icon-384x384.png
  public/icons/icon-512x512.png
  public/icons/icon-72x72.png
  public/icons/icon-96x96.png
  public/icons/icon.svg
Due: format

Tighten mobile review view: compact cards, fix input/chip alignment, add due count
  components/agent/feedback-card.tsx
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
Due: format, lint, typecheck

Tighten mobile review view: compact cards, fix input/chip alignment, add due count (#300)
  components/agent/feedback-card.tsx
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
Due: format, lint, typecheck

fix(deps): pin axios to ^1.14.0 — mitigate supply chain attack and CVEs
  .github/workflows/evolve-prompts.yml
  bun.lock
  docs/architecture/root-topology-inventory.md
  package.json
  pnpm-lock.yaml
Due: format

chore: remove Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

chore: overhaul backlog — 8 shaped items focused on agentic Anki killer vision
  backlog.d/001-delete-dead-code.ctx.md
  backlog.d/001-delete-dead-code.md
  backlog.d/002-simplify-product-surface.ctx.md
  backlog.d/002-simplify-product-surface.md
  backlog.d/003-phrasing-generation-evals.ctx.md
  backlog.d/003-phrasing-generation-evals.md
  backlog.d/004-content-type-eval-suite.ctx.md
  backlog.d/004-content-type-eval-suite.md
  backlog.d/005-hard-quality-gates.ctx.md
  backlog.d/005-hard-quality-gates.md
  backlog.d/006-content-type-completeness.ctx.md
  backlog.d/006-content-type-completeness.md
  backlog.d/007-agent-ready-architecture.ctx.md
  backlog.d/007-agent-ready-architecture.md
  backlog.d/008-generative-ui-foundation.ctx.md
  backlog.d/008-generative-ui-foundation.md
  docs/architecture/root-topology-inventory.md
Due: format

chore: overhaul backlog — 8 shaped items focused on agentic Anki killer vision (#306)
  backlog.d/001-delete-dead-code.ctx.md
  backlog.d/001-delete-dead-code.md
  backlog.d/002-simplify-product-surface.ctx.md
  backlog.d/002-simplify-product-surface.md
  backlog.d/003-phrasing-generation-evals.ctx.md
  backlog.d/003-phrasing-generation-evals.md
  backlog.d/004-content-type-eval-suite.ctx.md
  backlog.d/004-content-type-eval-suite.md
  backlog.d/005-hard-quality-gates.ctx.md
  backlog.d/005-hard-quality-gates.md
  backlog.d/006-content-type-completeness.ctx.md
  backlog.d/006-content-type-completeness.md
  backlog.d/007-agent-ready-architecture.ctx.md
  backlog.d/007-agent-ready-architecture.md
  backlog.d/008-generative-ui-foundation.ctx.md
  backlog.d/008-generative-ui-foundation.md
  docs/architecture/root-topology-inventory.md
Due: format

chore: mark backlog item 001 as done
  backlog.d/001-delete-dead-code.md
Due: format

chore: update review score with PR number
  .groom/review-scores.ndjson
Due: none

chore(backlog): start simplify product surface
  backlog.d/002-simplify-product-surface.md
Due: format

feat: simplify product surface
  .groom/review-scores.ndjson
  app/agent/page.tsx
  app/concepts/_components/concepts-client.test.tsx
  app/concepts/_components/concepts-client.tsx
  app/page.tsx
  backlog.d/002-simplify-product-surface.md
  components/concepts/concepts-empty-state.tsx
  components/empty-states.tsx
  components/footer.test.tsx
  components/footer.tsx
  components/generation-modal.tsx
  components/navbar.test.tsx
  components/navbar.tsx
  components/theme-toggle.tsx
  hooks/use-concepts-query.test.ts
  hooks/use-concepts-query.ts
  next.config.ts
  tests/e2e/agent-review-smoke.test.ts
Due: format, lint, typecheck

fix: harden canary error routing
  .env.example
  app/error.tsx
  app/global-error.tsx
  app/page.test.tsx
  app/page.tsx
  instrumentation.ts
  lib/analytics.ts
  lib/canary.test.ts
  lib/canary.ts
  lib/error-monitoring.test.ts
  lib/error-monitoring.ts
  lib/sentry.test.ts
  lib/sentry.ts
Due: format, lint, typecheck

fix: settle ci and observability review
  .github/workflows/trufflehog.yml
  .groom/review-scores.ndjson
  components/footer.tsx
  instrumentation.ts
  lib/analytics.ts
  lib/canary.test.ts
  lib/canary.ts
  lib/error-monitoring.test.ts
  lib/error-monitoring.ts
  lib/error-sanitization.ts
  lib/sentry.ts
Due: format, lint, typecheck

Simplify product surface and route errors through Canary (#309)
  .env.example
  .github/workflows/trufflehog.yml
  .groom/review-scores.ndjson
  app/agent/page.tsx
  app/concepts/_components/concepts-client.test.tsx
  app/concepts/_components/concepts-client.tsx
  app/error.tsx
  app/global-error.tsx
  app/page.test.tsx
  app/page.tsx
  backlog.d/002-simplify-product-surface.md
  components/concepts/concepts-empty-state.tsx
  components/empty-states.tsx
  components/footer.test.tsx
  components/footer.tsx
  components/generation-modal.tsx
  components/navbar.test.tsx
  components/navbar.tsx
  components/theme-toggle.tsx
  hooks/use-concepts-query.test.ts
  hooks/use-concepts-query.ts
  instrumentation.ts
  lib/analytics.ts
  lib/canary.test.ts
  lib/canary.ts
  lib/error-monitoring.test.ts
  lib/error-monitoring.ts
  lib/error-sanitization.ts
  lib/sentry.test.ts
  lib/sentry.ts
  next.config.ts
  tests/e2e/agent-review-smoke.test.ts
Due: format, lint, typecheck

fix: repair trufflehog push workflow
  .github/workflows/trufflehog.yml
Due: none

fix: repair trufflehog push workflow (#310)
  .github/workflows/trufflehog.yml
Due: none

feat: route fsrs scheduling through memory-engine
  backlog.d/009-fix-bun-test-oracle.md
  convex/fsrs/engine.ts
  convex/fsrs/memoryEngineAdapter.ts
  docs/architecture/root-topology-inventory.md
  package.json
  pnpm-lock.yaml
  tests/convex/fsrs.test.ts
  tests/convex/memory-engine-adapter.test.ts
Due: format, lint, typecheck

docs: fix canary oracle references
  backlog.d/009-fix-bun-test-oracle.md
Due: format

fix: run research skill tests under vitest
  .agent/skills/research/__tests__/confidence.test.ts
  .agent/skills/research/__tests__/query-utils.test.ts
Due: format, lint, typecheck

fix: unblock quality checks
  app/clerk-provider.tsx
  bun.lock
  components/agent/review-chat.tsx
  components/empty-states.tsx
  convex/lib/logger.ts
  hooks/use-data-hash.ts
  hooks/use-keyboard-shortcuts.ts
  hooks/use-track-event.ts
  lib/deployment-check.ts
  lib/sentry.test.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

fix(app): restore /agent redirect
  app/agent/page.test.tsx
  app/agent/page.tsx
  backlog.d/002-simplify-product-surface.md
Due: format, lint, typecheck

fix(ship): accept local gate evidence
  .agent/skills/ship/SKILL.md
Due: format

fix(backlog): archive all ticket files
  scripts/lib/backlog.sh
Due: none

chore(backlog): archive shipped tickets
  backlog.d/_done/002-simplify-product-surface.ctx.md
  backlog.d/_done/002-simplify-product-surface.md
Due: format

fix(app): restore /agent redirect
  .agent/skills/ship/SKILL.md
  app/agent/page.test.tsx
  app/agent/page.tsx
  backlog.d/_done/002-simplify-product-surface.ctx.md
  backlog.d/_done/002-simplify-product-surface.md
  scripts/lib/backlog.sh
Due: format, lint, typecheck

test(evals): add phrasing generation baseline suite
  .github/workflows/prompt-eval.yml
  backlog.d/003-phrasing-generation-evals.ctx.md
  backlog.d/003-phrasing-generation-evals.md
  evals/promptfoo-phrasing.yaml
  evals/promptfoo.yaml
  package.json
  scripts/compare-prompts.ts
Due: format, lint, typecheck

ci(evals): report normalized prompt scores
  .github/workflows/prompt-eval.yml
Due: none

chore(backlog): archive shipped tickets
  backlog.d/_done/003-phrasing-generation-evals.ctx.md
  backlog.d/_done/003-phrasing-generation-evals.md
Due: format
