Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Secret scanning to prevent leaks
    trufflehog:
      run: trufflehog filesystem {staged_files} --fail
    
    # Root topology hygiene to catch unclassified files
    topology-hygiene:
      run: ./scripts/tooling/topology-hygiene-check.sh

    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

    # Verify Convex contracts before pushing
    convex-check:
      run: pnpm test:contract
      fail_text: "Convex contract check failed."

ci: record foundation test suggestions without narrowing blocking CI
  .github/workflows/ci.yml
  docs/qa/rule-a-shadow-2026-10-04.md
  foundation.json
Due: format

Accept Cloudflare rollout string identifiers
  deploy/cloudflare-hosting/release.mjs
  deploy/cloudflare-hosting/release.test.mjs
  docs/qa/release-adapter-2026-10-04.md
Due: format

qa: retain negative-control proof and exact-head passing packet handoff
  docs/qa/rule-b-pr221-20261004.md
  final.md
  qa/README-executor.md
Due: format

ci: isolate shadow checker pin from existing blocking gates
  .github/workflows/ci.yml
  docs/qa/rule-a-shadow-2026-10-04.md
Due: format

qa: preserve stable Glass retry input and failed delivery receipt
  final.md
Due: format

fix: keep shadow reporting nonblocking and broaden spec changes
  .github/workflows/ci.yml
  docs/qa/rule-a-shadow-2026-10-04.md
  foundation.json
Due: format

Keep licensed font artifacts at their original source paths
  DESIGN.md
  internal/web/assets/fonts/AtkinsonHyperlegibleNext.woff2
  internal/web/assets/fonts/JetBrainsMono-AUTHORS.txt
  internal/web/assets/fonts/JetBrainsMono-OFL.txt
  internal/web/assets/fonts/JetBrainsMono-Scry.woff2
  internal/web/assets/fonts/Literata-Italic.woff2
  internal/web/assets/fonts/Literata.woff2
  internal/web/assets/fonts/OFL.txt
  src/web.rs
Due: format

Include inherited font assets in isolated critic source snapshots
  scripts/critics/lib/worker-artifact.mjs
  scripts/critics/tests/provenance.test.mjs
Due: none

Preserve the retained Go migration criterion in root stories
  SPEC.md
  USER_STORIES.md
Due: format

Verify the retained Go migration with separate source-bound evidence
  .dagger/src/index.ts
  .exe/setup.sh
  .github/workflows/ci.yml
  docs/qa/system.md
  qa/retained-go-migration.py
  qa/walk-specs.mjs
  qa/walk.mjs
  scripts/scry-ci
Due: format, lint, typecheck

Extract pinned migration fixtures without Python version assumptions
  qa/retained-go-migration.py
Due: none

Keep preparation live while drafting and teach complete learning intents
  assets/app.js
  qa/browser-create.mjs
  src/generation.rs
  src/web.rs
  tests/generation_policy.rs
Due: format, lint

Honor complete-text requests in saved refinement feedback
  src/engine.rs
  src/generation.rs
  tests/application.rs
  tests/generation_policy.rs
Due: none

Build a complete reading and recall path from a bare short-text topic
  src/generation.rs
Due: none

Preserve reference lines and authored practice order
  qa/browser-create.mjs
  src/engine.rs
  src/generation.rs
  src/model.rs
  src/web.rs
  tests/application.rs
Due: none

Use short phrases for full-text recall practice
  src/generation.rs
Due: none

Record private Rust preview update and backup evidence
  docs/runbook.md
Due: format

Record private Rust preview update and backup evidence (#227)
  docs/runbook.md
Due: format

docs: record isolated hosted recovery and provider observations
  docs/qa/rust-preview-continuation-20261009.json
  docs/runbook.md
Due: format

docs: record isolated hosted recovery and provider observations (#228)
  docs/qa/rust-preview-continuation-20261009.json
  docs/runbook.md
Due: format
