Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Secret scanning to prevent leaks
    trufflehog:
      run: trufflehog filesystem {staged_files} --fail
    
    # Root topology hygiene to catch unclassified files
    topology-hygiene:
      run: ./scripts/tooling/topology-hygiene-check.sh

    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

    # Verify Convex contracts before pushing
    convex-check:
      run: pnpm test:contract
      fail_text: "Convex contract check failed."

feat(generation): write meaning checks with the question, not as a learner setting
  SPEC.md
  USER_STORIES.md
  VISION.md
  docs/runbook.md
  internal/generation/meaning_test.go
  internal/generation/provider_test.go
  internal/generation/task.go
  internal/generation/validation.go
  internal/generation/worker.go
  internal/store/library.go
  internal/store/meaning_edit_test.go
  internal/web/library.go
  internal/web/meaning_test.go
  internal/web/server.go
  internal/web/templates/library.html
  internal/web/templates/review.html
Due: format

fix(store): drop a generated rubric when an edit changes its quotation
  SPEC.md
  USER_STORIES.md
  internal/store/library.go
  internal/store/meaning_edit_test.go
  internal/web/meaning_test.go
  internal/web/templates/library.html
Due: format

docs(runbook): record the automatic meaning recall image release
  docs/runbook.md
Due: format

docs(hosting): align Scry runtime docs (MIS-42)
  .agents/skills/scry-qa/SKILL.md
  AGENTS.md
  README.md
  SPEC.md
  VISION.md
  deploy/cloudflare-hosting/README.md
  docs/fleet-onboarding.md
  docs/qa/system.md
  docs/runbook.md
Due: format

docs(hosting): align Scry runtime docs (MIS-42) (#181)
  .agents/skills/scry-qa/SKILL.md
  AGENTS.md
  README.md
  SPEC.md
  VISION.md
  deploy/cloudflare-hosting/README.md
  docs/fleet-onboarding.md
  docs/qa/system.md
  docs/runbook.md
Due: format

docs(qa): record v5 acceptance evidence (MIS-162)
  docs/qa/concept-study-20260923.json
  docs/qa/system.md
Due: format

fix(v5): withhold current capture in search, fence intros, keep fixes as suggestions (MIS-162)
  SPEC.md
  internal/store/history.go
  internal/store/jobs.go
  internal/store/knowledge.go
  internal/store/library.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/review.go
  internal/store/schema_v5.go
  internal/store/search.go
  internal/store/v5_test.go
  internal/web/assets/app.css
  internal/web/concepts.go
  internal/web/library.go
  internal/web/server.go
  internal/web/templates/library.html
  internal/web/v5_test.go
Due: format

fix(web): compare every field of a suggested fix (MIS-162)
  internal/web/templates/library.html
  internal/web/v5_test.go
Due: none

fix(web): punctuate the stopped-preparation receipt on the Map (MIS-162)
  internal/web/templates/library.html
Due: none

fix(v5): keep fixes with their question; withhold the cold capture on every route (MIS-162)
  SPEC.md
  internal/store/jobs.go
  internal/store/knowledge.go
  internal/store/library.go
  internal/store/models.go
  internal/store/v5_test.go
  internal/web/concepts.go
  internal/web/library.go
  internal/web/templates/library.html
  internal/web/v5_test.go
Due: format

docs(qa): record the MIS-162 advisory follow-up receipt (MIS-162)
  docs/qa/concept-study-advisories-20260923.json
  docs/qa/system.md
Due: format

revert(web): keep sibling pages reachable per the SPEC secrecy boundary (MIS-162)
  SPEC.md
  internal/web/concepts.go
  internal/web/library.go
  internal/web/v5_test.go
Due: format

refactor(v5): keep one standard note per concept (MIS-162)
  DESIGN.md
  SPEC.md
  USER_STORIES.md
  VISION.md
  cmd/scry/main.go
  docs/qa/system.md
  internal/generation/v5.go
  internal/generation/v5_dispatch_test.go
  internal/generation/v5_robustness_test.go
  internal/generation/v5_task.go
  internal/generation/v5_validation.go
  internal/generation/v5_validation_test.go
  internal/generation/v5_worker_test.go
  internal/recovery/recovery_test.go
  internal/store/jobs.go
  internal/store/knowledge.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/review.go
  internal/store/schema_v5.go
  internal/store/search.go
  internal/store/v5_test.go
  internal/web/assets/app.css
  internal/web/concepts.go
  internal/web/review_test.go
  internal/web/server.go
  internal/web/templates/library.html
  internal/web/v5_test.go
Due: format

refactor(v5): drop Map search; keep a concept index for reuse only (MIS-162)
  DESIGN.md
  SPEC.md
  USER_STORIES.md
  docs/qa/system.md
  docs/runbook.md
  internal/store/knowledge.go
  internal/store/library.go
  internal/store/migration_v5_test.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/schema_v5.go
  internal/store/search.go
  internal/store/store.go
  internal/store/v5_test.go
  internal/web/assets/app.css
  internal/web/concepts.go
  internal/web/server.go
  internal/web/templates/library.html
  internal/web/v5_test.go
Due: format

refactor(v5): drop confusion-triggered contrast questions (MIS-162)
  SPEC.md
  USER_STORIES.md
  VISION.md
  docs/qa/system.md
  internal/generation/v5.go
  internal/generation/v5_dispatch_test.go
  internal/generation/v5_evidence.go
  internal/generation/v5_question.go
  internal/generation/v5_robustness_test.go
  internal/generation/v5_task.go
  internal/generation/v5_validation.go
  internal/generation/v5_validation_test.go
  internal/generation/v5_worker_test.go
  internal/generation/worker.go
  internal/learning/selection.go
  internal/store/jobs.go
  internal/store/knowledge.go
  internal/store/library.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/review.go
  internal/store/schema_v5.go
  internal/store/v5_test.go
  internal/web/review.go
  internal/web/review_test.go
  internal/web/server.go
Due: format

refactor(v5): a fix is a draft that pre-fills the edit form (MIS-162)
  SPEC.md
  internal/store/history.go
  internal/store/library.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/schema_v5.go
  internal/store/v5_test.go
  internal/web/assets/app.css
  internal/web/concepts.go
  internal/web/library.go
  internal/web/server.go
  internal/web/templates/library.html
  internal/web/v5_test.go
Due: format

fix(generation): tell the model which concept id each question assesses (MIS-162)
  internal/generation/v5_task.go
Due: none

fix(web): say 'No questions yet' unless questions are being written (MIS-162)
  internal/web/templates/library.html
Due: none

docs(qa): record the MIS-162 simplification receipt (MIS-162)
  docs/qa/concept-study-simplify-20260924.json
  docs/qa/system.md
Due: format

fix(v5): a fix draft saved as drafted keeps its validated rubric (MIS-162)
  SPEC.md
  internal/store/library.go
  internal/store/meaning_edit_test.go
  internal/web/library.go
  internal/web/templates/library.html
Due: format

docs(qa): record the fix-draft rubric follow-up (MIS-162)
  docs/qa/concept-study-simplify-20260924.json
Due: format

fix(v5): take a draft's grading only from the form that showed the draft (MIS-162)
  SPEC.md
  docs/qa/concept-study-simplify-20260924.json
  internal/store/library.go
  internal/store/meaning_edit_test.go
  internal/web/library.go
  internal/web/templates/library.html
  internal/web/v5_test.go
Due: format

docs(v5): record operator confirmation and release approval (MIS-162)
  USER_STORIES.md
  docs/runbook.md
Due: format

docs(release): record v5 production release (MIS-162)
  docs/qa/v5-release-20260924.json
  docs/runbook.md
Due: format

docs(release): record v5 production release (MIS-162) (#183)
  docs/qa/v5-release-20260924.json
  docs/runbook.md
Due: format

docs(release): scope v5 checklist proof and record v5 check (MIS-162)
  docs/qa/v5-release-20260924.json
  docs/runbook.md
Due: format

docs(release): scope v5 checklist proof and record v5 check (MIS-162) (#184)
  docs/qa/v5-release-20260924.json
  docs/runbook.md
Due: format

feat(web): Ink notebook redesign of every page and flow (MIS-162)
  DESIGN.md
  README.md
  SPEC.md
  VISION.md
  docs/design/redesign-2026-09-24.md
  docs/design/redesign-2026-09-24/finalist-a-ink.html
  docs/design/redesign-2026-09-24/finalist-b-observatory.html
  docs/design/redesign-2026-09-24/finalist-c-plain.html
  docs/qa/ink-notebook-redesign-20260924.json
  internal/web/assets/app.css
  internal/web/assets/app.js
  internal/web/assets/fonts/AtkinsonHyperlegibleNext.woff2
  internal/web/assets/fonts/Fraunces-Italic.woff2
  internal/web/assets/fonts/Fraunces.woff2
  internal/web/assets/fonts/InstrumentSans.woff2
  internal/web/assets/fonts/Literata-Italic.woff2
  internal/web/assets/fonts/Literata.woff2
  internal/web/assets/fonts/OFL.txt
  internal/web/assets/icon-192.png
  internal/web/assets/icon-512.png
  internal/web/assets/icon.svg
  internal/web/assets/manifest.webmanifest
  internal/web/concepts.go
  internal/web/presentation_test.go
  internal/web/server.go
  internal/web/templates/account.html
  internal/web/templates/icons.html
  internal/web/templates/layout.html
  internal/web/templates/library.html
  internal/web/templates/review.html
  internal/web/v5_test.go
Due: format, lint

fix(web): keep star-chart labels inside their column (MIS-162)
  internal/web/concepts.go
  internal/web/presentation_test.go
  internal/web/templates/library.html
Due: none

feat(web): Ink notebook redesign of every page and flow (MIS-162) (#185)
  DESIGN.md
  README.md
  SPEC.md
  VISION.md
  docs/design/redesign-2026-09-24.md
  docs/design/redesign-2026-09-24/finalist-a-ink.html
  docs/design/redesign-2026-09-24/finalist-b-observatory.html
  docs/design/redesign-2026-09-24/finalist-c-plain.html
  docs/qa/ink-notebook-redesign-20260924.json
  internal/web/assets/app.css
  internal/web/assets/app.js
  internal/web/assets/fonts/AtkinsonHyperlegibleNext.woff2
  internal/web/assets/fonts/Fraunces-Italic.woff2
  internal/web/assets/fonts/Fraunces.woff2
  internal/web/assets/fonts/InstrumentSans.woff2
  internal/web/assets/fonts/Literata-Italic.woff2
  internal/web/assets/fonts/Literata.woff2
  internal/web/assets/fonts/OFL.txt
  internal/web/assets/icon-192.png
  internal/web/assets/icon-512.png
  internal/web/assets/icon.svg
  internal/web/assets/manifest.webmanifest
  internal/web/concepts.go
  internal/web/presentation_test.go
  internal/web/server.go
  internal/web/templates/account.html
  internal/web/templates/icons.html
  internal/web/templates/layout.html
  internal/web/templates/library.html
  internal/web/templates/review.html
  internal/web/v5_test.go
Due: format, lint

docs(release): record Ink notebook production release (MIS-162)
  docs/runbook.md
Due: format

docs(release): record Ink notebook production release (MIS-162) (#186)
  docs/runbook.md
Due: format

fix(grading): send every unmatched recall answer to Jev (MIS-162)
  SPEC.md
  USER_STORIES.md
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/store/review.go
  internal/store/review_test.go
  internal/store/v5_test.go
  scripts/evals/jev-recall/main.go
Due: format

ci: fall back to the GHCR mirror of the pinned Dagger engine (MIS-162)
  .github/workflows/ci.yml
Due: none

fix(grading): send every unmatched recall answer to Jev (MIS-162) (#187)
  .github/workflows/ci.yml
  SPEC.md
  USER_STORIES.md
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/store/review.go
  internal/store/review_test.go
  internal/store/v5_test.go
  scripts/evals/jev-recall/main.go
Due: format

fix(grading): keep authored exact forms local; Jev only for legacy and flexible (MIS-162)
  SPEC.md
  USER_STORIES.md
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/store/review_test.go
Due: format

fix(grading): keep authored exact forms local; Jev only for legacy and flexible (MIS-162) (#188)
  SPEC.md
  USER_STORIES.md
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/store/review_test.go
Due: format

docs(release): record grading release (MIS-162)
  docs/runbook.md
Due: format
