Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: prettier --write {staged_files}

lint:
  run: pnpm eslint --fix --cache {staged_files}

typecheck:
  run: pnpm exec tsc --noEmit
  fail_text: TypeScript compilation failed. Fix type errors before committing.

fix(agent): decouple quiz answers from chat stream
  components/agent/review-chat.tsx
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
  tests/e2e/agent-review-smoke.test.ts
Due: format, lint, typecheck

ci: standardize Cerberus workflow to default @master template
  .github/workflows/cerberus.yml
Due: none

ci: use CERBERUS_OPENROUTER_API_KEY for Cerberus workflow
  .github/workflows/cerberus.yml
Due: none

feat: ship chat-first review agent UX
  app/agent/page.tsx
  app/layout.tsx
  components/agent/feedback-card.test.tsx
  components/agent/feedback-card.tsx
  components/agent/message-bubble.tsx
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
  components/footer.tsx
  components/navbar.tsx
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
  next.config.ts
  scripts/test-e2e-local.sh
  tests/e2e/agent-review-smoke.test.ts
Due: format, lint, typecheck

test: align feedback card label assertion
  components/agent/feedback-card.test.tsx
Due: format, lint, typecheck

fix: resolve remaining review feedback on agent flow
  components/agent/review-chat.tsx
  components/agent/tool-results.test.ts
  components/agent/tool-results.ts
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
  convex/agents/reviewToolHelpers.ts
  convex/concepts.ts
Due: format, lint, typecheck

fix(ci): stabilize coverage check after agent additions
  tests/convex/coverage-regressions.test.ts
  vitest.config.ts
Due: format, lint, typecheck

fix: address latest review feedback on agent session flow
  components/agent/review-chat.tsx
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

fix: clean review session dead UI and share grading helper
  components/agent/review-chat.tsx
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
  convex/agents/reviewToolHelpers.ts
  tests/convex/reviewToolHelpers.test.ts
Due: format, lint, typecheck

refactor: remove unused review chat state writes
  components/agent/review-chat.tsx
Due: format, lint, typecheck

test: add grading edge cases and dedupe intent resolution
  convex/agents/reviewStreaming.ts
  tests/convex/reviewToolHelpers.test.ts
Due: format, lint, typecheck

perf: trim initial chat history fetch size
  components/agent/review-chat.tsx
Due: format, lint, typecheck

fix: surface answer submit failures in review chat
  components/agent/review-chat.tsx
  convex/agents/reviewToolHelpers.ts
Due: format, lint, typecheck

fix: clarify review interval and phrasing count labels
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

fix: tighten review answer guards and shared stage labels
  components/agent/feedback-card.tsx
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
  convex/agents/reviewToolHelpers.ts
  lib/review-stage.ts
  tests/convex/reviewToolHelpers.test.ts
Due: format, lint, typecheck

fix: cap chat prompts and tighten weak-area docs
  components/agent/review-chat.tsx
  convex/agents/reviewStreaming.ts
  convex/agents/reviewToolHelpers.ts
  tests/convex/reviewToolHelpers.test.ts
Due: format, lint, typecheck

fix: harden reschedule intent parsing and add tests
  components/agent/review-chat.tsx
  components/agent/review-intent.test.ts
  components/agent/review-intent.ts
Due: format, lint, typecheck

fix: harden review agent auth context and model defaults
  CLAUDE.md
  convex/agents/reviewAgent.ts
Due: format, lint, typecheck

fix(agent): harden review chat and feedback rendering
  app/agent/layout.tsx
  components/agent/feedback-card.test.tsx
  components/agent/feedback-card.tsx
  components/agent/review-chat.tsx
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

refactor: share agent card rich text rendering
  components/agent/feedback-card.tsx
  components/agent/message-bubble.tsx
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
  components/agent/rich-text.tsx
Due: format, lint, typecheck

test: cover agent and review helper edge cases
  components/agent/feedback-card.test.tsx
  components/agent/message-bubble.test.tsx
  tests/convex/reviewToolHelpers.test.ts
Due: format, lint, typecheck

feat(agent): agentic review prototype with streaming UI (#243)
  .github/dependabot.yml
  CLAUDE.md
  app/agent/layout.tsx
  app/agent/page.tsx
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
  app/api/stripe/webhook/route.ts
  app/layout.tsx
  components/agent/feedback-card.test.tsx
  components/agent/feedback-card.tsx
  components/agent/message-bubble.test.tsx
  components/agent/message-bubble.tsx
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
  components/agent/review-intent.test.ts
  components/agent/review-intent.ts
  components/agent/rich-text.tsx
  components/footer.tsx
  components/navbar.tsx
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
  convex/agents/reviewToolHelpers.ts
  convex/concepts.ts
  convex/convex.config.ts
  convex/phrasings.ts
  lib/analytics.ts
  lib/review-stage.ts
  next.config.ts
  package.json
  pnpm-lock.yaml
  scripts/test-e2e-local.sh
  tests/convex/coverage-regressions.test.ts
  tests/convex/reviewToolHelpers.test.ts
  tests/e2e/agent-review-smoke.test.ts
  vitest.config.ts
Due: format, lint, typecheck

docs(pi): add Pi local workflow documentation
  docs/pi-local-workflow.md
Due: format

feat(pi): add repository-local Pi foundation
  .pi/agents/pipelines.yaml
  .pi/agents/planner.md
  .pi/agents/reviewer.md
  .pi/agents/teams.yaml
  .pi/agents/worker.md
  .pi/bootstrap-postmortem-2026-02-26.md
  .pi/bootstrap-report.md
  .pi/prompts/deliver.md
  .pi/prompts/design.md
  .pi/prompts/discover.md
  .pi/prompts/review.md
  .pi/settings.json
Due: format

refactor(docs): rewrite AGENTS.md with Tamiyo persona and scry doctrine
  AGENTS.md
Due: format

chore(git): ignore Pi runtime state directory
  .gitignore
Due: none

perf(convex): make totalPhrasings O(1) in getReviewDashboard (#256)
  .claude/task.md
  convex/concepts.ts
  convex/lib/userStatsHelpers.ts
  convex/migrations.ts
  convex/phrasings.ts
  convex/schema.ts
Due: format, lint, typecheck

refactor(agent): centralize review thread auth and DTOs (#264, #266)
  convex/agents/dtos.ts
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

fix(agent): address PR feedback on thread ownership and DTOs
  convex/agents/dtos.ts
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

fix(agent): treat any getThreadMetadata error as unauthorized
  convex/agents/dtos.ts
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

refactor(agent): centralize review thread auth and DTOs (#268)
  convex/agents/dtos.ts
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

feat(qa): add reusable dogfood smoke command
  docs/pi-local-workflow.md
  package.json
  scripts/qa/dogfood-smoke.sh
Due: format

fix(qa): harden smoke script reliability and reporting
  docs/pi-local-workflow.md
  scripts/qa/dogfood-smoke.sh
Due: format

feat(qa): add reusable dogfood smoke command (#269)
  docs/pi-local-workflow.md
  package.json
  scripts/qa/dogfood-smoke.sh
Due: format

docs(architecture): add root topology inventory for cleanup planning
  docs/architecture/root-topology-inventory.md
Due: format

feat(tooling): scaffold Bun parity spike matrix workflow
  docs/architecture/bun-migration-spike.md
  package.json
  scripts/tooling/run-bun-parity-matrix.sh
Due: format

fix(tooling): harden Bun parity matrix checks and reporting
  docs/architecture/bun-migration-spike.md
  scripts/tooling/run-bun-parity-matrix.sh
Due: format

feat(tooling): scaffold Bun parity matrix workflow (#275)
  docs/architecture/bun-migration-spike.md
  package.json
  scripts/tooling/run-bun-parity-matrix.sh
Due: format

docs(architecture): tighten root inventory classifications and guardrails
  docs/architecture/root-topology-inventory.md
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md}
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
