Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Secret scanning to prevent leaks
    trufflehog:
      run: trufflehog filesystem {staged_files} --fail
    
    # Root topology hygiene to catch unclassified files
    topology-hygiene:
      run: ./scripts/tooling/topology-hygiene-check.sh

    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

    # Verify Convex contracts before pushing
    convex-check:
      run: pnpm test:contract
      fail_text: "Convex contract check failed."

test(evals): add phrasing generation baseline suite
  .github/workflows/prompt-eval.yml
  backlog.d/_done/003-phrasing-generation-evals.ctx.md
  backlog.d/_done/003-phrasing-generation-evals.md
  evals/promptfoo-phrasing.yaml
  evals/promptfoo.yaml
  package.json
  scripts/compare-prompts.ts
Due: format, lint, typecheck

fix(evals): use openrouter grader for promptfoo rubrics
  evals/promptfoo-phrasing.yaml
  evals/promptfoo.yaml
Due: none

fix: reconcile stale generation output on reclaim
  crates/memory-engine-persistence-postgres/src/lib.rs
Due: none

docs(evals): record independent live generation results
  docs/evals/generation-foundation-final-2026-09-07.md
Due: format

test(api): stop pinning incidental submit SQL counts
  crates/memory-engine-api/src/tests/mod.rs
Due: none

fix(recovery): restore unused SQLite sequences without underflow
  crates/memory-engine-cloudflare/src/recovery.rs
  scripts/scry-cloudflare
Due: none

fix(cloudflare): fence streamed writes and remove unsafe identity transfer
  .dagger/src/index.ts
  crates/memory-engine-cloudflare/src/auth.rs
  crates/memory-engine-cloudflare/src/web.rs
  scripts/scry-cloudflare
Due: format, lint, typecheck

refactor(cloudflare): remove obsolete account snapshot transfer
  crates/memory-engine-cloudflare/src/store.rs
Due: none

feat(ops): replace retired reporting with native logs and health alerts
  .dagger/src/index.ts
  .github/workflows/production-health.yml
  README.md
  crates/memory-engine-cloudflare/src/lib.rs
  crates/memory-engine-cloudflare/src/telemetry.rs
  crates/memory-engine-qa/tests/docs_reconciliation.rs
  docs/architecture/memory-engine.map.json
  docs/fleet-onboarding.md
  docs/qa/system.md
  docs/runbook.md
  package.json
  scripts/scry-cloudflare
  scripts/scry-monitor
  scripts/scry-monitor.test.py
Due: format, lint, typecheck

fix(ops): keep production and off-host freshness proofs authoritative
  bin/scry-backup-freshness
  bin/scry-backup-freshness.test.py
  bin/smoke-production
Due: none

fix(ops): disable credential-bearing invocation logs
  docs/runbook.md
  wrangler.jsonc
Due: format

fix(ops): disable credential-bearing invocation logs (#153)
  docs/runbook.md
  wrangler.jsonc
Due: format

fix(ops): redact query strings from platform log metadata
  docs/runbook.md
  wrangler.jsonc
Due: format

fix(ops): redact query strings from platform log metadata (#154)
  docs/runbook.md
  wrangler.jsonc
Due: format

fix(ops): identify Cloudflare clients and recover failed observations
  docs/runbook.md
  scripts/scry-cloudflare
  scripts/scry-cloudflare-data
  scripts/scry-cloudflare.test.py
Due: format

fix(ops): serialize releases and recheck traffic before promotion
  docs/runbook.md
  scripts/scry-cloudflare
  scripts/scry-cloudflare.test.py
Due: format

Fix live Cloudflare operator transport and failed-observation recovery (#155)
  docs/runbook.md
  scripts/scry-cloudflare
  scripts/scry-cloudflare-data
  scripts/scry-cloudflare.test.py
Due: format

docs: record isolated staging proof without claiming cutover
  README.md
  docs/qa/system.md
  docs/runbook.md
Due: format

chore(harness): route QA to current runbook and bind Forest roles (MIS-34)
  .agents/skills/scry-qa/SKILL.md
  .claude
  .claude/skills
  .codex/config.toml
  .pi/settings.json
  AGENTS.md
  agents/_shared/skills/systematic-debugging/SKILL.md
  agents/_shared/skills/verify-claim/SKILL.md
  agents/builder/agent.md
  agents/fixer/agent.md
  agents/verifier/agent.md
  agents/verifier/skills/thermo-nuclear-code-quality-review/SKILL.md
  agents/verifier/skills/thermo-nuclear-review/SKILL.md
  forest.yaml
Due: format

docs: label restore-drill-20260906 as a unused-name template
  docs/runbook.md
Due: format

docs: record staging logout-all and signed unsubscribe
  docs/runbook.md
Due: format

docs(agents): keep SLICE packets as historical extraction context
  AGENTS.md
Due: format

docs: record isolated staging proof without claiming cutover (#156)
  README.md
  docs/qa/system.md
  docs/runbook.md
Due: format

docs: record verified Cloudflare production cutover
  .agents/skills/scry-qa/SKILL.md
  AGENTS.md
  README.md
  VISION.md
  docs/qa/production-correct-20260908.webp
  docs/qa/production-cutover-20260908.json
  docs/qa/production-revealed-20260908.webp
  docs/qa/system.md
  docs/runbook.md
Due: format

docs: reconcile runtime authorities and reproducible QA
  .agents/skills/scry-qa/SKILL.md
  docs/architecture/memory-engine.map.json
  docs/fleet-onboarding.md
  docs/runbook.md
Due: format

docs: use the local-only account bootstrap for native QA
  .agents/skills/scry-qa/SKILL.md
Due: format

docs: record verified Cloudflare production cutover (#158)
  .agents/skills/scry-qa/SKILL.md
  AGENTS.md
  README.md
  VISION.md
  docs/architecture/memory-engine.map.json
  docs/fleet-onboarding.md
  docs/qa/production-correct-20260908.webp
  docs/qa/production-cutover-20260908.json
  docs/qa/production-revealed-20260908.webp
  docs/qa/system.md
  docs/runbook.md
Due: format

Keep graded choice recap behind Details
  DESIGN.md
  crates/memory-engine-api-render/src/render.rs
Due: format

Fix held review safety and generation recovery across clients
  Cargo.lock
  README.md
  crates/memory-engine-api-render/src/render.rs
  crates/memory-engine-api/assets/app.js
  crates/memory-engine-api/src/routes.rs
  crates/memory-engine-api/src/tests/mod.rs
  crates/memory-engine-api/tests/app_js_contract.test.js
  crates/memory-engine-beta-app/Cargo.toml
  crates/memory-engine-beta-app/src/lib.rs
  crates/memory-engine-cloudflare/src/web.rs
  crates/memory-engine-generation/src/lib.rs
  crates/memory-engine-generation/tests/beta_generation.rs
  crates/memory-engine-mcp/src/client.rs
  crates/memory-engine-mcp/src/lib.rs
  crates/memory-engine-mcp/tests/stdio_review_loop.rs
  crates/memory-engine-review/src/main.rs
  docs/api/openapi.v1.json
  scripts/scry-cloudflare
Due: format, lint

Preserve dated frictionless review and generation proof
  docs/evals/frictionless-generation-20260908.json
  docs/qa/frictionless-empty-20260908.webp
  docs/qa/frictionless-feedback-20260908.webp
  docs/qa/frictionless-review-20260908.json
Due: format

Version browser assets by content for immediate release delivery
  crates/memory-engine-api-render/src/design_preview.rs
  crates/memory-engine-api-render/src/lib.rs
  crates/memory-engine-api-render/src/render.rs
  crates/memory-engine-api/assets/service-worker.js
  crates/memory-engine-api/src/tests/mod.rs
Due: format, lint

Preserve complete CI source and record production rollout proof
  .gitignore
  docs/qa/frictionless-assets-20260909.webp
  docs/qa/frictionless-production-correct-20260909.webp
  docs/qa/frictionless-production-question-20260909.webp
  docs/qa/frictionless-production-revealed-20260909.webp
  docs/qa/frictionless-review-20260908.json
  docs/qa/frictionless-staging-question-20260909.webp
  docs/runbook.md
Due: format

Preserve complete CI source and record production rollout proof (#160)
  .gitignore
  docs/qa/frictionless-assets-20260909.webp
  docs/qa/frictionless-production-correct-20260909.webp
  docs/qa/frictionless-production-question-20260909.webp
  docs/qa/frictionless-production-revealed-20260909.webp
  docs/qa/frictionless-review-20260908.json
  docs/qa/frictionless-staging-question-20260909.webp
  docs/runbook.md
Due: format

fix(scry): close browser and generation acceptance gaps (MIS-48)
  README.md
  SPEC.md
  docs/runbook.md
  internal/generation/task.go
  internal/generation/worker.go
  internal/web/auth_test.go
  internal/web/library.go
  internal/web/templates/library.html
  internal/web/templates/review.html
Due: format
