Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: prettier --write {staged_files}

lint:
  run: pnpm eslint --fix --cache {staged_files}

docs: add GitHub Actions secrets section for Sentry release tracking
  docs/deployment-checklist.md
Due: format

feat: add Sentry release tracking to GitHub Actions workflow
  .github/workflows/release.yml
Due: none

feat: add Sentry error forwarding to Convex logger
  convex/lib/logger.test.ts
  convex/lib/logger.ts
Due: format, lint

chore: expand backlog with comprehensive 8-perspective audit
  BACKLOG.md
  convex/lib/logger.test.ts
Due: format, lint

fix: add missing logger methods to test mocks for TypeScript compliance
  convex/lib/logger.test.ts
Due: format, lint

refactor: remove Sentry from Convex backend (V8 isolate incompatibility)
  convex/lib/logger.test.ts
  convex/lib/logger.ts
  docs/deployment-checklist.md
  docs/observability-runbook.md
Due: format, lint

fix: update security workflow for license and deprecated actions
  .github/workflows/security.yml
Due: none

fix: add pull-requests:read permission to security workflow
  .github/workflows/security.yml
Due: none

fix: add actions:read permission for SARIF upload
  .github/workflows/security.yml
Due: none

fix: make SARIF upload non-blocking
  .github/workflows/security.yml
Due: none

refactor: improve Sentry release workflow robustness
  .github/workflows/release.yml
  BACKLOG.md
Due: format

chore: optimize infrastructure and CI performance
  .changeset/config.json
  .github/workflows/ci.yml
  BACKLOG.md
Due: format

upgrade: Next.js 16.0.3 + React 19.2 + major dependencies
  UPGRADE_NOTES.md
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/lib/aiProviders.test.ts
  convex/lib/responsesApi.ts
  eslint.config.mjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: format, lint

chore: update Convex generated files formatting
  convex/_generated/api.js
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: format, lint

fix: use Vitest 4 compatible mock syntax for OpenAI constructor
  convex/lib/aiProviders.test.ts
Due: format, lint

chore: add coverage thresholds and test fixtures
  TODO.md
  tests/helpers/convexFixtures.ts
  tests/helpers/index.ts
  tests/helpers/loggerStub.ts
  tests/helpers/schedulerStub.ts
  vitest.config.ts
Due: format, lint

test: cover aiGeneration prep and error classification
  TODO.md
  convex/aiGeneration.ts
  tests/convex/aiGeneration.prep.test.ts
Due: format, lint

test: cover generationJobs state machine
  TODO.md
  tests/convex/aiGeneration.prep.test.ts
  tests/convex/generationJobs.logic.test.ts
Due: format, lint

test: cover questionsInteractions mutation paths
  TODO.md
  tests/convex/questionsInteractions.record.test.ts
  tests/convex/questionsInteractions.test.ts
Due: format, lint

test: add migration helper coverage
  TODO.md
  tests/convex/migrations.helpers.test.ts
Due: format, lint

chore: harden test setup mocks for sentry/analytics
  TODO.md
  vitest.setup.ts
Due: format, lint

docs: add convex testing and coverage guide
  TODO.md
  docs/guides/testing-convex.md
Due: format

chore: improve build compatibility and test infrastructure
  BACKLOG.md
  TASK.md
  UPGRADE_NOTES.md
  lib/logger.ts
  tests/convex/generationJobs.logic.test.ts
  tests/convex/migrations.helpers.test.ts
  tests/convex/questionsInteractions.record.test.ts
  vitest.setup.ts
Due: format, lint

fix: unbounded AI concept generation causing schema validation errors
  convex/aiGeneration.ts
  convex/lib/promptTemplates.ts
  lib/analytics.test.ts
Due: format, lint

fix: use zodResponseFormat for OpenAI strict schema compatibility
  convex/lib/responsesApi.ts
Due: format, lint

test: fix test data and remove flaky analytics tests
  lib/analytics.test.ts
  tests/convex/aiGeneration.prep.test.ts
  tests/convex/generationJobs.logic.test.ts
  tests/convex/migrations.helpers.test.ts
Due: format, lint

chore: adjust convex coverage threshold to current level
  vitest.config.ts
Due: format, lint

chore: update convex generated files
  convex/_generated/api.js
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: format, lint

chore(convex): add generated files
  convex/_generated/api.js
  convex/_generated/server.d.ts
  convex/_generated/server.js
Due: format, lint

chore: address PR review feedback
  BACKLOG.md
  TASK.md
  TODO.md
  lib/analytics.test.ts
  tests/convex/questionsInteractions.record.test.ts
  tests/helpers/loggerStub.ts
  vitest.setup.ts
Due: format, lint

fix: resolve TypeScript compilation error in test helpers and improve quality gates
  convex/tsconfig.json
  lefthook.yml
  tests/helpers/loggerStub.ts
Due: format, lint

fix: address PR review feedback
  convex/aiGeneration.ts
  convex/lib/constants.ts
  convex/lib/promptTemplates.ts
  lib/analytics.test.ts
  tests/convex/aiGeneration.test.ts
Due: format, lint

style: apply prettier formatting from pre-commit hooks
  convex/aiGeneration.ts
  tests/convex/aiGeneration.test.ts
Due: format, lint

chore: harden health endpoint for uptime checks
  app/api/health/route.ts
  docs/operations/monitoring-setup.md
  lib/health.test.ts
  lib/health.ts
Due: format, lint

refactor: extract AI generation contracts and add intent classification
  BACKLOG.md
  convex/_generated/api.d.ts
  convex/aiGeneration.ts
  convex/concepts.ts
  convex/evals/runner.ts
  convex/lib/generationContracts.ts
  convex/lib/promptTemplates.ts
  convex/lib/responsesApi.ts
  convex/schema.ts
  tests/convex/aiGeneration.prep.test.ts
  tests/convex/aiGeneration.test.ts
Due: format, lint

test: add convex regression coverage
  TODO.md
  tests/convex/coverage-regressions.test.ts
Due: format, lint

test: add hook coverage for review flow and confirmation
  TODO.md
  hooks/use-button-press.test.ts
  hooks/use-confirmation.test.tsx
  hooks/use-keyboard-shortcuts.test.ts
  hooks/use-review-flow.test.ts
  package.json
  pnpm-lock.yaml
Due: format, lint

chore: raise vitest coverage thresholds
  TODO.md
  vitest.config.ts
Due: format, lint

chore: add codecov gating config
  .codecov.yml
  TODO.md
Due: format

chore: harden ci coverage gate
  .github/workflows/ci.yml
  TODO.md
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md}
  lint: any of: *.{js,jsx,ts,tsx}
