Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files (no coverage)
    # Typecheck runs in pre-commit (changed files) + CI (full codebase)
    # Coverage enforced in CI with proper tracking
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

fix(pr-107): address CodeRabbit review feedback
  .env.example
  BACKLOG.md
  components/review-flow.tsx
  convex/aiGeneration.ts
  convex/concepts.ts
  convex/lab.ts
  convex/lib/langfuse.ts
  convex/lib/prompts.test.ts
Due: format, lint, typecheck

fix(llm-ops): eliminate noisy OpenTelemetry warnings and fix Langfuse label mismatch
  .env.example
  convex/lib/prompts.test.ts
  convex/lib/prompts.ts
  instrumentation.ts
  lib/logger.ts
  next.config.ts
Due: format, lint, typecheck

fix(deps): hoist OpenTelemetry packages to suppress Turbopack warnings
  .npmrc
Due: none

docs: add comprehensive LLM ops strategy document
  docs/llm-ops-strategy.md
Due: format

feat(llm-ops): implement Phase 1 infrastructure
  .github/workflows/prompt-eval.yml
  evals/promptfoo.yaml
  package.json
  scripts/langfuse-cost-report.ts
  scripts/langfuse-quality-report.ts
Due: format, lint, typecheck

docs: add browser extension feature to backlog
  BACKLOG.md
Due: format

fix(ci): resolve pnpm version conflict and pino bundler issue
  .github/workflows/prompt-eval.yml
  next.config.ts
Due: format, lint, typecheck

fix(ci): add permissions for prompt-eval PR comments
  .github/workflows/prompt-eval.yml
Due: none

fix(evals): remove cost assertion (OpenRouter doesn't return cost data)
  evals/promptfoo.yaml
Due: none

fix(evals): extract JSON from thinking-prefixed output, make non-blocking
  .github/workflows/prompt-eval.yml
  evals/promptfoo.yaml
Due: none

fix(ci): make prompt-eval fully non-blocking
  .github/workflows/prompt-eval.yml
Due: none

feat(llm-ops): add automation for monitoring, A/B testing, and test capture
  .github/workflows/llm-ops-monitor.yml
  convex/aiGeneration.ts
  convex/lib/prompts.ts
  package.json
  scripts/capture-failures.ts
  tsconfig.json
Due: format, lint, typecheck

fix(typecheck): prevent scripts from breaking Convex deploy
  convex/tsconfig.json
  scripts/capture-failures.ts
  scripts/langfuse-quality-report.ts
Due: format, lint, typecheck

fix(pr-107): standardize eval prompt cap and document deferred items
  BACKLOG.md
  evals/prompts/concept-synthesis.txt
Due: format

fix(ai): prevent token exhaustion with centralized reasoning config
  convex/aiGeneration.ts
  convex/evals/runner.ts
  convex/iqc.ts
  convex/lab.ts
  convex/lib/aiProviders.ts
  convex/lib/scoring.ts
  tests/convex/aiGeneration.test.ts
Due: format, lint, typecheck

test: update mock for getReasoningOptions in process tests
  tests/convex/aiGeneration.process.test.ts
Due: format, lint, typecheck

fix(llm-ops): address PR #107 review feedback
  .claude/skills/langfuse-prompts/prompts/concept-synthesis.txt
  .claude/skills/langfuse-prompts/prompts/phrasing-generation.txt
  .claude/skills/langfuse-prompts/scripts/create-prompt.ts
Due: format, lint, typecheck

fix(evals): align field naming with Langfuse skill prompt
  evals/prompts/concept-synthesis.txt
Due: none

fix(evals): update promptfoo and configure showThinking
  evals/promptfoo.yaml
  package.json
  pnpm-lock.yaml
Due: format

fix(evals): set max_tokens to prevent reasoning token exhaustion
  evals/promptfoo.yaml
Due: none

fix(evals): improve eval robustness from 81% to 100% pass rate
  evals/promptfoo.yaml
  evals/prompts/concept-synthesis.txt
Due: none

fix(evals): prevent CI rate limiting with lower concurrency
  .github/workflows/prompt-eval.yml
  evals/promptfoo.yaml
Due: none

feat(evolve): show full test results and judge reasoning in dashboard
  .claude/skills/langfuse-prompts/SKILL.md
  .claude/skills/langfuse-prompts/prompts/concept-synthesis.txt
  .claude/skills/langfuse-prompts/scripts/create-prompt.ts
  .env.example
  .github/workflows/evolve-prompts.yml
  .gitignore
  CLAUDE.md
  app/api/evolve/experiments/[id]/route.ts
  app/api/evolve/experiments/route.ts
  app/evolve/_components/evolve-dashboard.tsx
  app/evolve/_components/experiment-card.tsx
  app/evolve/_components/prompt-diff.tsx
  app/evolve/_components/run-config-panel.tsx
  app/evolve/_components/test-results-table.tsx
  app/evolve/_components/variants-selector.tsx
  app/evolve/page.tsx
  app/lab/configs/_components/config-manager-page.tsx
  components/lab/config-editor.tsx
  components/lab/config-management-dialog.tsx
  convex/aiGeneration.ts
  convex/evals/runner.ts
  convex/iqc.ts
  convex/lib/aiProviders.test.ts
  convex/lib/productionConfig.ts
  convex/lib/promptTemplates.ts
  convex/lib/prompts.test.ts
  convex/lib/prompts.ts
  evals/promptfoo.yaml
  evals/prompts/intent-extraction.txt
  evals/prompts/phrasing-generation.txt
  package.json
  pnpm-lock.yaml
  scripts/capture-failures.ts
  scripts/evolve-prompts.ts
  scripts/langfuse-cost-report.ts
  scripts/lib/evaluate.ts
  scripts/lib/mutation.ts
  tests/convex/aiGeneration.process.test.ts
  types/evolve.ts
  types/lab.test.ts
Due: format, lint, typecheck

perf: filter concepts by phrasingCount to eliminate N+1 queries (#120)
  convex/concepts.ts
Due: format, lint, typecheck

chore: remove BACKLOG.md after migration to GitHub Issues
  BACKLOG.md
Due: format

perf: filter concepts by phrasingCount to eliminate N+1 queries (#163)
  BACKLOG.md
  convex/concepts.ts
Due: format, lint, typecheck

feat: enhance landing page with value prop & features (#166)
  components/sign-in-landing.tsx
Due: format, lint, typecheck

fix: resolve Edge Runtime and middleware deprecation warnings
  lib/logger.ts
  proxy.ts
Due: format, lint, typecheck

style: polish landing page with distinctive typography and brand cohesion
  app/globals.css
  components/sign-in-landing.tsx
  package.json
Due: format, lint, typecheck

fix(ci): skip lighthouse build when secrets unavailable (Dependabot PRs)
  .github/workflows/lighthouse.yml
Due: none

feat: redesign landing page with particle field animation
  .env.example
  app/sign-in/[[...sign-in]]/page.tsx
  app/sign-up/[[...sign-up]]/page.tsx
  components/sign-in-landing.tsx
Due: format, lint, typecheck

feat: revamp footer and add interactive design lab
  app/design-lab/_components/landing-preview.tsx
  app/design-lab/_components/landing-tuner.tsx
  app/design-lab/page.tsx
  components/footer.tsx
  components/ui/slider.tsx
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

chore: update convex generated files
  package.json
Due: format

refactor: extract shared useParticleField hook and use Tailwind classes
  app/design-lab/_components/landing-preview.tsx
  components/sign-in-landing.tsx
  hooks/use-particle-field.ts
Due: format, lint, typecheck

chore: exclude canvas animation hook from coverage
  vitest.config.ts
Due: format, lint, typecheck

fix: address PR feedback - accessibility, slider, UX
  components/sign-in-landing.tsx
  components/ui/slider.tsx
  hooks/use-particle-field.ts
Due: format, lint, typecheck

fix: correct lint-staged pattern for generated files
  package.json
Due: format

fix: address remaining PR feedback items
  hooks/use-particle-field.ts
  lib/particle-math.test.ts
  lib/particle-math.ts
  middleware.ts
Due: format, lint, typecheck

Redesign landing page with particle field animation (#175)
  .env.example
  app/design-lab/_components/landing-preview.tsx
  app/design-lab/_components/landing-tuner.tsx
  app/design-lab/page.tsx
  app/sign-in/[[...sign-in]]/page.tsx
  app/sign-up/[[...sign-up]]/page.tsx
  components/footer.tsx
  components/sign-in-landing.tsx
  components/ui/slider.tsx
  hooks/use-particle-field.ts
  lib/particle-math.test.ts
  lib/particle-math.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: format, lint, typecheck

Complete LLM infrastructure audit fixes
  convex/health.ts
  convex/lib/promptTemplates.ts
  docs/llm-development.md
  evals/promptfoo.yaml
Due: format, lint, typecheck
