Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Secret scanning to prevent leaks
    trufflehog:
      run: trufflehog filesystem {staged_files} --fail
    
    # Root topology hygiene to catch unclassified files
    topology-hygiene:
      run: ./scripts/tooling/topology-hygiene-check.sh

    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

    # Verify Convex contracts before pushing
    convex-check:
      run: pnpm test:contract
      fail_text: "Convex contract check failed."

docs(resume): correct deploy job state and token minting procedure
  docs/resume-2026-09-28-first-screen.md
Due: format

feat(web): single-field Add screen with responsive privacy boundary (US-013) (#209)
  README.md
  SPEC.md
  USER_STORIES.md
  VISION.md
  deploy/cloudflare-hosting/container-lifecycle.mjs
  deploy/cloudflare-hosting/container.test.mjs
  deploy/cloudflare-hosting/nginx.conf
  docs/qa/system.md
  docs/resume-2026-09-28-first-screen.md
  docs/runbook.md
  features/capture.md
  internal/web/assets/app.css
  internal/web/assets/app.js
  internal/web/assets/fonts/JetBrainsMono-AUTHORS.txt
  internal/web/assets/fonts/JetBrainsMono-OFL.txt
  internal/web/assets/fonts/JetBrainsMono-Scry.woff2
  internal/web/library.go
  internal/web/server.go
  internal/web/templates/layout.html
  internal/web/templates/library.html
  internal/web/v5_test.go
  qa/walk-specs.mjs
Due: format, lint

ci(deploy): add standard wrangler deploy on green master
  .github/workflows/ci.yml
Due: none

ci(deploy): pin download-artifact and setup-node to real release SHAs
  .github/workflows/ci.yml
Due: none

ci(deploy): deploy to production on green master (#210)
  .github/workflows/ci.yml
Due: none

docs(resume): record deploy proof and token revocation
  docs/resume-2026-09-28-first-screen.md
Due: format

ci(foundation): pin foundation-review to the agent reviewer gate
  .github/workflows/foundation-review.yml
Due: none

ci(foundation): pin foundation-review to the agent reviewer gate (#212)
  .github/workflows/foundation-review.yml
Due: none

docs(agents): record the merge path and the agent-review gate
  AGENTS.md
Due: format

docs(agents): record the merge path and the agent-review gate (#213)
  AGENTS.md
Due: format

test(review): recognized inert font metadata fixture
  .review-probe/font.woff2
Due: none

fix: ground broad private-text learning and recover stopped preparation
  DESIGN.md
  SPEC.md
  docs/runbook.md
  features/capture.md
  internal/generation/v5_evidence.go
  internal/generation/v5_question.go
  internal/generation/v5_task.go
  internal/generation/v5_validation.go
  internal/generation/v5_validation_test.go
  internal/generation/v5_worker_test.go
  internal/store/critic_lifecycle_test.go
  internal/store/jobs.go
  internal/store/jobs_test.go
  internal/store/library.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/v5_test.go
  internal/web/assets/app.css
  internal/web/assets/app.js
  internal/web/library.go
  internal/web/presentation_test.go
  internal/web/server.go
  internal/web/status.go
  internal/web/templates/library.html
  internal/web/templates/review.html
  internal/web/v5_test.go
Due: format, lint

test: keep preparation diagnostics behind disclosure boundary
  internal/web/v5_test.go
Due: none

fix: make broad private-text preparation recoverable (#215)
  DESIGN.md
  SPEC.md
  docs/runbook.md
  features/capture.md
  internal/generation/v5_evidence.go
  internal/generation/v5_question.go
  internal/generation/v5_task.go
  internal/generation/v5_validation.go
  internal/generation/v5_validation_test.go
  internal/generation/v5_worker_test.go
  internal/store/critic_lifecycle_test.go
  internal/store/jobs.go
  internal/store/jobs_test.go
  internal/store/library.go
  internal/store/models.go
  internal/store/publish.go
  internal/store/v5_test.go
  internal/web/assets/app.css
  internal/web/assets/app.js
  internal/web/library.go
  internal/web/presentation_test.go
  internal/web/server.go
  internal/web/status.go
  internal/web/templates/library.html
  internal/web/templates/review.html
  internal/web/v5_test.go
Due: format, lint

docs: make prompt-first creation the canonical product contract
  AGENTS.md
  README.md
  SPEC.md
  USER_STORIES.md
  VISION.md
  docs/design/concept-centered-study.md
  docs/fleet-onboarding.md
  docs/qa/system.md
  docs/runbook.md
  docs/science/README.md
Due: format

docs: distinguish retained capture and Create proof
  SPEC.md
  USER_STORIES.md
  docs/qa/system.md
Due: format

docs: align capture index with current story and Create acceptance
  features/README.md
Due: format

docs: keep work evidence in the session and PR
  docs/fleet-onboarding.md
Due: format

docs: establish prompt-first Create intent and acceptance (#216)
  AGENTS.md
  README.md
  SPEC.md
  USER_STORIES.md
  VISION.md
  docs/design/concept-centered-study.md
  docs/fleet-onboarding.md
  docs/qa/system.md
  docs/runbook.md
  docs/science/README.md
  features/README.md
Due: format

docs: add Scry QA agent traps
  .agents/skills/scry-qa/SKILL.md
Due: format

test: lock grading and recoverable text policies
  internal/generation/recoverable_text_test.go
  internal/learning/policy_lock_test.go
Due: none

feat(review): validate persisted transitions
  internal/learning/transition.go
  internal/store/review.go
Due: none

ci: enforce Scry package boundaries
  scripts/checks/package_boundaries.py
  scripts/scry-ci
Due: none

fix(review): unify transition authority
  internal/learning/transition.go
  internal/learning/transition_test.go
  internal/store/review.go
Due: none

fix: close package-boundary parsing holes
  scripts/checks/package_boundaries.py
Due: none

fix: report template aliases once
  scripts/checks/package_boundaries.py
Due: none

docs: clarify cold-review source boundary
  .agents/skills/scry-qa/SKILL.md
Due: format

wip(scry-s2): checkpoint 2026-10-04T22:53:42+00:00 (auto, Codex sandbox cannot write .git)
  CONTRACT.md
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/learning/semantic.go
  internal/learning/semantic_test.go
  internal/learning/short.go
  internal/learning/short_test.go
Due: format

qa: record independent Rule B executor scope
  qa/README-executor.md
Due: format

qa: freeze PR 221 contract and add artifact-bound Chrome executor
  qa/boundary-probe.go.txt
  qa/build-artifact.mjs
  qa/executor-specs.mjs
  qa/executor.mjs
  qa/pr-221-spec.json
Due: format

Add guarded Scry staging release adapter and rollback tests
  deploy/cloudflare-hosting/release.mjs
  deploy/cloudflare-hosting/release.test.mjs
Due: none

qa: reject incomplete, tampered, or stale story packets
  qa/check-packet.mjs
  qa/check-packet.test.mjs
  qa/executor-contract.mjs
  qa/executor-contract.test.mjs
  qa/executor.mjs
Due: none

feat: declare affected-test map in foundation shadow mode
  foundation.json
Due: format

qa: exercise semantic shadow results, retry, and persisted authority in Chrome
  qa/executor-specs.mjs
  qa/executor.mjs
Due: none

Document release evidence and harden credential and rollback boundaries
  deploy/cloudflare-hosting/README.md
  deploy/cloudflare-hosting/release-artifact.example.json
  deploy/cloudflare-hosting/release.md
  deploy/cloudflare-hosting/release.mjs
  deploy/cloudflare-hosting/release.test.mjs
  docs/qa/release-adapter-2026-10-04.md
Due: format

qa: bind archived-source builds without enclosing checkout metadata
  qa/build-artifact.mjs
  qa/executor.mjs
Due: none

Accept scoped credential file aliases without ambient token access
  deploy/cloudflare-hosting/release.md
  deploy/cloudflare-hosting/release.mjs
  deploy/cloudflare-hosting/release.test.mjs
  docs/qa/release-adapter-2026-10-04.md
Due: format

qa: await the retry response before asserting the provider send
  qa/executor-specs.mjs
Due: none
