Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: prettier --write {staged_files}

lint:
  run: pnpm eslint --fix --cache {staged_files}

typecheck:
  run: pnpm exec tsc --noEmit
  fail_text: TypeScript compilation failed. Fix type errors before committing.

feat: add experiment infrastructure + fix PR review feedback
  .github/workflows/evolve-prompts.yml
  .github/workflows/llm-ops-monitor.yml
  .github/workflows/prompt-eval.yml
  evals/promptfoo.yaml
  experiments/.gitkeep
  experiments/log.jsonl
  package.json
  scripts/compare-prompts.ts
  scripts/langfuse-cost-report.ts
  scripts/lib/experiment-log.ts
Due: format, lint, typecheck

fix: improve robustness of LLM ops scripts
  .github/workflows/evolve-prompts.yml
  scripts/compare-prompts.ts
  scripts/lib/mutation.ts
Due: format, lint, typecheck

feat(observability): add Sentry auto-triage webhook
  .env.example
  .github/workflows/sentry-triage.yml
  app/api/webhooks/sentry/route.ts
Due: format, lint, typecheck

fix(observability): address PR review feedback
  .github/workflows/sentry-triage.yml
  app/api/webhooks/sentry/route.ts
Due: format, lint, typecheck

fix(security): add signature length check and webhook tests
  app/api/webhooks/sentry/route.ts
  tests/api/webhooks/sentry.test.ts
Due: format, lint, typecheck

feat(observability): add Sentry auto-triage webhook (#189)
  .env.example
  .github/workflows/sentry-triage.yml
  app/api/webhooks/sentry/route.ts
  tests/api/webhooks/sentry.test.ts
Due: format, lint, typecheck

fix: bound phrasing queries in archive/restore/delete (closes #121)
  convex/concepts.ts
Due: format, lint, typecheck

fix: use paginated batch updates to process all phrasings (#121)
  convex/concepts.ts
Due: format, lint, typecheck

fix(concepts): add infinite loop protection to batched updates
  convex/concepts.ts
Due: format, lint, typecheck

test(concepts): add comprehensive tests for updatePhrasingsBatched
  convex/concepts.test.ts
  convex/concepts.ts
Due: format, lint, typecheck

fix: bound phrasing queries in archive/restore/delete (#202)
  convex/concepts.test.ts
  convex/concepts.ts
Due: format, lint, typecheck

feat(observability): add PostHog product analytics
  .env.example
  app/layout.tsx
  components/providers/PostHogProvider.tsx
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

refactor: simplify PostHogProvider implementation
  components/providers/PostHogProvider.tsx
Due: format, lint, typecheck

docs: update README and add CODEBASE_MAP.md
  README.md
  docs/CODEBASE_MAP.md
Due: format

fix(posthog): add user identification and PII masking
  components/providers/PostHogProvider.tsx
Due: format, lint, typecheck

fix(docs): add Clerk connections to diagram, update outdated auth refs
  docs/CODEBASE_MAP.md
  docs/setup/environment-setup.md
Due: format

docs: update README and add CODEBASE_MAP.md (#204)
  README.md
  docs/CODEBASE_MAP.md
  docs/setup/environment-setup.md
Due: format

feat(observability): add PostHog product analytics (#203)
  .env.example
  app/layout.tsx
  components/providers/PostHogProvider.tsx
  next.config.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

fix(security): add rate limiting to AI generation mutations (#195)
  convex/concepts.ts
  convex/rateLimit.ts
  tests/convex/rateLimit.test.ts
Due: format, lint, typecheck

fix(security): make rate limiting operation-scoped with TOCTOU fix
  .github/SECURITY.md
  convex/concepts.ts
  convex/rateLimit.ts
  tests/convex/rateLimit.test.ts
Due: format, lint, typecheck

fix(security): add rate limiting to AI generation mutations (#207)
  .github/SECURITY.md
  convex/concepts.ts
  convex/rateLimit.ts
  tests/convex/rateLimit.test.ts
Due: format, lint, typecheck

feat: unify logger interfaces across frontend and backend (#197)
  convex/lib/logger.ts
  lib/logger.ts
  types/logger.ts
Due: format, lint, typecheck

chore: increase test coverage thresholds to 75%
  lib/health.test.ts
  lib/storage.test.ts
  vitest.config.ts
Due: format, lint, typecheck

test(storage): add missing window-unavailable test coverage
  lib/storage.test.ts
Due: format, lint, typecheck

chore: increase test coverage thresholds to 75% (#209)
  lib/health.test.ts
  lib/storage.test.ts
  vitest.config.ts
Due: format, lint, typecheck

feat: unify logger interfaces across frontend and backend (#208)
  convex/lib/logger.ts
  lib/logger.ts
  types/logger.ts
Due: format, lint, typecheck

feat(payments): add Stripe subscription infrastructure
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
  app/api/stripe/webhook/route.ts
  convex/schema.ts
  convex/subscriptions.ts
  hooks/use-subscription.ts
  lib/stripe.ts
  lib/subscription.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

fix(build): make lefthook install non-fatal for CI
  package.json
Due: format

ci: integrate Cerberus AI code review council v1
  .github/workflows/cerberus.yml
Due: none

ci: integrate Cerberus AI code review council
  .github/workflows/cerberus.yml
Due: none

feat(payments): add Stripe subscription infrastructure (#217)
  app/api/stripe/checkout/route.ts
  app/api/stripe/portal/route.ts
  app/api/stripe/webhook/route.ts
  convex/schema.ts
  convex/subscriptions.ts
  hooks/use-subscription.ts
  lib/stripe.ts
  lib/subscription.ts
  middleware.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

fix(ci): skip lighthouse build when secrets unavailable (Dependabot PRs) (#171)
  .github/workflows/lighthouse.yml
Due: none

chore: update vision
  vision.md
Due: format

feat(agent): agentic review prototype with streaming UI
  app/agent/page.tsx
  components/agent/feedback-card.tsx
  components/agent/message-bubble.tsx
  components/agent/question-card.tsx
  components/agent/review-chat.tsx
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
  convex/convex.config.ts
  package.json
  pnpm-lock.yaml
Due: format, lint, typecheck

fix(agent): use UIMessage.parts API instead of nonexistent .content
  components/agent/review-chat.tsx
Due: format, lint, typecheck

feat(agent): implement 5D start screen design
  components/agent/review-chat.tsx
Due: format, lint, typecheck

fix(agent): polish streaming agent implementation
  convex/agents/reviewAgent.ts
  convex/agents/reviewStreaming.ts
Due: format, lint, typecheck

refactor(ui): polish agent components and navigation
  components/agent/feedback-card.tsx
  components/agent/message-bubble.tsx
  components/agent/question-card.tsx
  components/footer.tsx
  components/navbar.tsx
Due: format, lint, typecheck

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md}
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
