Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

.lefthook.yml:

pre-commit:
  parallel: true
  commands:
    git-secrets:
      run: |
        if git secrets --help >/dev/null 2>&1; then
          git secrets --pre_commit_hook
        else
          echo "git-secrets missing; skipping"
        fi
    gitleaks:
      run: gitleaks protect --staged
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: prettier --write {staged_files}
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint --fix --cache {staged_files}

pre-push:
  commands:
    typecheck:
      run: pnpm tsc --noEmit --incremental
    test:
      run: pnpm test --changed
    convex-check:
      run: pnpm test:contract

lefthook.yml:

# Lefthook Git Hooks Configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # TypeScript type checking to catch compilation errors early
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm exec tsc --noEmit
      fail_text: "TypeScript compilation failed. Fix type errors before committing."

    # Lint and format staged files
    lint-staged:
      run: pnpm exec lint-staged
      fail_text: "Linting or formatting failed. Check eslint and prettier output."

pre-push:
  parallel: false
  commands:
    # Fast unit regression check on changed files (no coverage)
    # Typecheck runs in pre-commit (changed files) + CI (full codebase)
    # Coverage enforced in CI with proper tracking
    test-unit-changed:
      run: ./scripts/test-changed-batches.sh
      fail_text: "Unit tests (changed files) failed. Fix before pushing."

test: update ReviewActionsDropdown test for unified Edit button
  components/review/review-actions-dropdown.test.tsx
Due: format, lint, typecheck

feat: replace dual edit hooks with unified edit in review-flow
  .mcp.json
  TODO.md
  components/review-flow.tsx
  components/review/options-editor.tsx
  components/review/review-actions-dropdown.tsx
  components/review/true-false-editor.tsx
  components/review/unified-edit-form.tsx
  hooks/use-unified-edit.test.ts
  hooks/use-unified-edit.ts
  lib/unified-edit-validation.test.ts
  lib/unified-edit-validation.ts
Due: format, lint, typecheck

feat: add optimistic state management for unified edits
  TODO.md
  components/review-flow.tsx
Due: format, lint, typecheck

docs: mark Phase 4 complete and document test coverage
  TODO.md
Due: format

docs: enhance JSDoc for useUnifiedEdit hook
  hooks/use-unified-edit.ts
Due: format, lint, typecheck

docs: enhance JSDoc for UnifiedEditForm component
  components/review/unified-edit-form.tsx
Due: format, lint, typecheck

docs: add comprehensive inline comments for unified edit integration
  components/review-flow.tsx
Due: format, lint, typecheck

docs: verify TypeScript compilation passes with zero errors
  TODO.md
Due: format

docs: verify full test suite passes with no regressions
  TODO.md
Due: format

fix: remove unnecessary baselineData dependency from useCallback
  TODO.md
  hooks/use-unified-edit.ts
Due: format, lint, typecheck

docs: verify production build succeeds with no errors
  TODO.md
Due: format

docs: mark all automated quality gates complete
  TODO.md
Due: format

docs: mark Code Quality & Documentation section complete
  TODO.md
Due: format

feat: inline editing with learning science re-queue behavior
  components/review-flow.tsx
  components/review-question-display.tsx
  components/review/options-editor.tsx
  components/review/true-false-editor.tsx
  components/review/unified-edit-form.tsx
  components/ui/popover.tsx
  convex/aiGeneration.ts
  convex/concepts.ts
  convex/lib/promptTemplates.ts
  hooks/use-concept-actions.test.ts
  hooks/use-concept-actions.ts
  hooks/use-unified-edit.test.ts
  hooks/use-unified-edit.ts
  lib/unified-edit-validation.test.ts
  lib/unified-edit-validation.ts
  package.json
  pnpm-lock.yaml
  tests/convex/concepts.update.test.ts
Due: format, lint, typecheck

Add unified edit interface for in-review concept and phrasing updates (#88)
  .mcp.json
  BACKLOG.md
  TASK.md
  TODO.md
  components/review-flow.tsx
  components/review-question-display.tsx
  components/review/options-editor.tsx
  components/review/phrasing-edit-form.tsx
  components/review/review-actions-dropdown.test.tsx
  components/review/review-actions-dropdown.tsx
  components/review/true-false-editor.tsx
  components/ui/popover.tsx
  convex/aiGeneration.ts
  convex/concepts.ts
  convex/lib/promptTemplates.ts
  hooks/use-concept-actions.test.ts
  hooks/use-concept-actions.ts
  hooks/use-inline-edit.test.ts
  hooks/use-inline-edit.ts
  hooks/use-keyboard-shortcuts.test.ts
  hooks/use-keyboard-shortcuts.ts
  hooks/use-unified-edit.test.ts
  hooks/use-unified-edit.ts
  lib/unified-edit-validation.test.ts
  lib/unified-edit-validation.ts
  package.json
  pnpm-lock.yaml
  tests/convex/concepts.archive.test.ts
  tests/convex/concepts.update.test.ts
  tests/e2e/review-editing.test.ts
  tests/helpers/convexFixtures.ts
  vitest.setup.ts
Due: format, lint, typecheck

chore: update backlog
  BACKLOG.md
Due: format

chore: update backlog
  BACKLOG.md
  TASK.md
  TODO.md
Due: format

chore: docs update
  BACKLOG.md
  TASK.md
Due: format

test: add coverage suites and infra updates
  .github/workflows/ci.yml
  BACKLOG.md
  DESIGN.md
  README.md
  TASK.md
  TODO.md
  package.json
  tests/convex/aiGeneration.process.test.ts
  tests/convex/concepts.test.ts
  tests/convex/embeddings.generate.test.ts
  tests/convex/fsrs.engine.test.ts
  tests/convex/fsrs.test.ts
  tests/convex/generationJobs.state.test.ts
  tests/convex/query-patterns.test.ts
  tests/convex/questionsCrud.test.ts
  tests/convex/rateLimit.test.ts
  tests/convex/spacedRepetition.queries.test.ts
  tests/convex/userStats.recalc.test.ts
  tests/lib/ai-client.test.ts
  tests/perf/bandwidth-regressions.perf.ts
  vitest.config.ts
Due: format, lint, typecheck

fix: align embeddings logging with coverage tests
  convex/embeddings.ts
Due: format, lint, typecheck

test: expand coverage for Convex generation and embeddings
  TODO.md
  convex/concepts.ts
  convex/embeddings.ts
  tests/convex/aiGeneration.process.test.ts
  tests/convex/concepts.detail.test.ts
  tests/convex/concepts.test.ts
  tests/convex/embeddings.generate.test.ts
  tests/convex/embeddings.test.ts
  tests/convex/generationJobs.logic.test.ts
Due: format, lint, typecheck

test: align AI client mocks and coverage thresholds
  tests/lib/ai-client.test.ts
  vitest.config.ts
Due: format, lint, typecheck

chore: docs update
  TASK.md
  TODO.md
Due: format

fix: point nav to concepts library
  components/concepts/concept-detail.tsx
  components/navbar.tsx
  convex/_generated/api.d.ts
  next.config.ts
Due: format, lint, typecheck

fix: remove dead tasks nav and redirect to concepts
  components/navbar.tsx
  next.config.ts
Due: format, lint, typecheck

feat: restore background tasks page for generation jobs
  app/tasks/_components/tasks-client.tsx
  app/tasks/page.tsx
  components/navbar.tsx
  hooks/use-active-jobs.ts
  next.config.ts
Due: format, lint, typecheck

chore: harden vitest workers for modern Node
  tests/convex/embeddings.generate.test.ts
  vitest.config.ts
Due: format, lint, typecheck

chore: configure vitest heap for node>=22 at runner entry
  vitest.config.ts
Due: format, lint, typecheck

chore: update deployment health check for concept/phrasing schema
  scripts/check-deployment-health.sh
Due: none

chore: align docs and scripts with questions removal
  convex/schema.ts
  hooks/use-shuffled-options.ts
  scripts/migrate-quiz-results.ts
Due: format, lint, typecheck

chore: docs cleanup
  TASK.md
  TODO.md
Due: format

chore: docs cleanup
  DESIGN.md
Due: format

fix: update generationJobs tests for questions → phrasings migration
  tests/convex/generationJobs.logic.test.ts
  tests/convex/generationJobs.state.test.ts
Due: format, lint, typecheck

fix: address PR #92 review feedback
  package.json
  tests/convex/concepts.test.ts
  vitest.config.ts
Due: format, lint, typecheck

chore: remove misleading static coverage badge
  README.md
Due: format

test: expand coverage and harden vitest for modern node (#92)
  .github/workflows/ci.yml
  BACKLOG.md
  README.md
  TASK.md
  convex/concepts.ts
  package.json
  tests/convex/aiGeneration.process.test.ts
  tests/convex/concepts.detail.test.ts
  tests/convex/concepts.test.ts
  tests/convex/fsrs.engine.test.ts
  tests/convex/fsrs.test.ts
  tests/convex/generationJobs.logic.test.ts
  tests/convex/generationJobs.state.test.ts
  tests/convex/rateLimit.test.ts
  vitest.config.ts
Due: format, lint, typecheck

chore: docs update
  BACKLOG.md
  DESIGN.md
Due: format

test: add shuffle util coverage
  TODO.md
  lib/utils/shuffle.test.ts
Due: format, lint, typecheck
