Repository misty-step/scry: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, typecheck

format:
  run: prettier --write {staged_files}

lint:
  run: pnpm eslint --fix --cache {staged_files}

typecheck:
  run: pnpm exec tsc --noEmit
  fail_text: TypeScript compilation failed. Fix type errors before committing.

docs(qa): align the critics contract with tested behavior
  docs/qa/critics.md
Due: format

fix(critics): never delete a non-fresh candidate dir; total, fail-closed receipt validator
  scripts/critics/lib/receipt.mjs
  scripts/critics/run.mjs
  scripts/critics/tests/candidate.test.mjs
  scripts/critics/tests/e2e/binding.test.mjs
  scripts/critics/tests/receipt.test.mjs
Due: none

feat(qa): stage-1 product contract + evidence-producing review critic (#166)
  .agents/skills/scry-qa/SKILL.md
  .dagger/src/index.ts
  AGENTS.md
  SPEC.md
  USER_STORIES.md
  VISION.md
  docs/architecture/production-mobile-study-app.md
  docs/history/README.md
  docs/history/SLICE-1-KERNEL.md
  docs/history/SLICE-2-PROGRESSION.md
  docs/history/SLICE-3-RUBRIC.md
  docs/history/SLICE-4-SERVICE-PROTOTYPE.md
  docs/history/exemplars.md
  docs/qa/critics.md
  docs/qa/critics/evidence/README.md
  docs/qa/critics/evidence/receipt.json
  docs/qa/critics/evidence/test-output.txt
  docs/qa/system.md
  scripts/critics/lib/browser.mjs
  scripts/critics/lib/dedupe.mjs
  scripts/critics/lib/discover.mjs
  scripts/critics/lib/guards.mjs
  scripts/critics/lib/provenance.mjs
  scripts/critics/lib/ready.mjs
  scripts/critics/lib/receipt.mjs
  scripts/critics/run.mjs
  scripts/critics/tests/candidate.test.mjs
  scripts/critics/tests/dedupe.test.mjs
  scripts/critics/tests/e2e/binding.test.mjs
  scripts/critics/tests/e2e/fixtures/missing-feedback.html
  scripts/critics/tests/e2e/fixtures/next-no-op.html
  scripts/critics/tests/e2e/negative.test.mjs
  scripts/critics/tests/e2e/provenance.test.mjs
  scripts/critics/tests/guards.test.mjs
  scripts/critics/tests/provenance.test.mjs
  scripts/critics/tests/receipt.test.mjs
  scripts/scry-ci
Due: format, lint, typecheck

fix(web): drop stale Too advanced copy from saved-foundations empty state
  internal/web/foundation_test.go
  internal/web/templates/foundation.html
Due: none

fix(web): drop stale Too advanced copy from saved-foundations empty state (#167)
  internal/web/foundation_test.go
  internal/web/templates/foundation.html
Due: none

test(learning): defer semantic short answers
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/store/foundation.go
  internal/store/review.go
Due: none

feat(learning): add semantic-v1 rubric policy
  internal/learning/semantic.go
  internal/learning/semantic_test.go
Due: none

feat(learning): stage and assess semantic answers
  cmd/scry/main.go
  internal/semantic/assessor.go
  internal/semantic/client.go
  internal/semantic/client_test.go
  internal/semantic/request.go
  internal/store/foundation_migration_test.go
  internal/store/history.go
  internal/store/library.go
  internal/store/models.go
  internal/store/review.go
  internal/store/schema_check.go
  internal/store/semantic.go
  internal/store/semantic_schema.go
  internal/store/store.go
  internal/web/library.go
  internal/web/review.go
  internal/web/server.go
  internal/web/templates/library.html
  internal/web/templates/review.html
Due: none

feat(learning): complete semantic assessment flow
  internal/generation/worker.go
  internal/learning/semantic.go
  internal/semantic/assessor.go
  internal/semantic/client.go
  internal/semantic/client_test.go
  internal/store/history.go
  internal/store/jobs.go
  internal/store/models.go
  internal/store/review.go
  internal/store/semantic.go
  internal/store/semantic_test.go
  internal/web/semantic_test.go
Due: none

docs(learning): document bounded semantic grading
  SPEC.md
  USER_STORIES.md
  VISION.md
  deploy/scry.env.example
  docs/qa/system.md
  docs/runbook.md
  internal/recovery/manager.go
Due: format

fix(learning): preserve frozen semantic policy edges
  USER_STORIES.md
  internal/learning/semantic.go
  internal/store/library.go
  internal/store/semantic_test.go
Due: format

feat(learning): shadow semantic classes, frozen T_rel 0.85, scheduler identity split
  internal/learning/learning.go
  internal/learning/semantic.go
  internal/learning/semantic_test.go
Due: none

feat(learning): Jev semantic free-response grading with durable single-send assessments (#170)
  SPEC.md
  USER_STORIES.md
  VISION.md
  cmd/scry/main.go
  deploy/scry.env.example
  docs/qa/system.md
  docs/runbook.md
  internal/generation/worker.go
  internal/learning/learning.go
  internal/learning/learning_test.go
  internal/learning/semantic.go
  internal/learning/semantic_test.go
  internal/recovery/manager.go
  internal/semantic/assessor.go
  internal/semantic/client.go
  internal/semantic/client_test.go
  internal/semantic/request.go
  internal/store/foundation.go
  internal/store/foundation_migration_test.go
  internal/store/history.go
  internal/store/jobs.go
  internal/store/library.go
  internal/store/models.go
  internal/store/review.go
  internal/store/schema_check.go
  internal/store/semantic.go
  internal/store/semantic_schema.go
  internal/store/semantic_test.go
  internal/store/store.go
  internal/web/library.go
  internal/web/review.go
  internal/web/semantic_test.go
  internal/web/server.go
  internal/web/templates/library.html
  internal/web/templates/review.html
Due: format

docs(evals): add Jev recall grading evaluation
  docs/evals/jev-recall-20260922/README.md
  docs/evals/jev-recall-20260922/corpus.json
  docs/evals/jev-recall-20260922/gold.json
  docs/evals/jev-recall-20260922/raw.jsonl
  docs/evals/jev-recall-20260922/report.md
  scripts/evals/jev-recall/main.go
Due: format

fix(hosting): inherit nginx stderr in containers
  deploy/cloudflare-hosting/entrypoint.sh
  deploy/cloudflare-hosting/entrypoint.test.mjs
  deploy/cloudflare-hosting/nginx.conf
Due: none

fix(hosting): resolve recovery key only at startup
  deploy/backup-gateway/worker.mjs
  deploy/backup-gateway/worker.test.mjs
  deploy/cloudflare-hosting/container-lifecycle.mjs
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/container.test.mjs
  deploy/cloudflare-hosting/index.mjs
  deploy/cloudflare-hosting/timing-safe-equal.mjs
  deploy/cloudflare-hosting/timing-safe-equal.test.mjs
Due: none

feat(hosting): move Scry off exe.dev onto Cloudflare Containers
  .gitignore
  deploy/backup-gateway/worker.mjs
  deploy/cloudflare-hosting/Dockerfile
  deploy/cloudflare-hosting/README.md
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/entrypoint.sh
  deploy/cloudflare-hosting/index.mjs
  deploy/cloudflare-hosting/nginx.conf
  deploy/cloudflare-hosting/wrangler.jsonc
  package-lock.json
  package.json
  scripts/scry-ci
Due: format

fix(hosting): stop the writer when foreground ingress exits
  deploy/cloudflare-hosting/entrypoint.sh
  deploy/cloudflare-hosting/entrypoint.test.mjs
Due: none

fix(hosting): harden Cloudflare recovery staging
  .dagger/src/index.ts
  deploy/backup-gateway/worker.mjs
  deploy/backup-gateway/worker.test.mjs
  deploy/backup-gateway/wrangler.jsonc
  deploy/cloudflare-hosting/README.md
  deploy/cloudflare-hosting/auth.mjs
  deploy/cloudflare-hosting/container-lifecycle.mjs
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/container.test.mjs
  deploy/cloudflare-hosting/entrypoint.sh
  deploy/cloudflare-hosting/entrypoint.test.mjs
  deploy/cloudflare-hosting/index.mjs
  deploy/cloudflare-hosting/index.test.mjs
  deploy/cloudflare-hosting/recovery-key.mjs
  deploy/cloudflare-hosting/recovery-key.test.mjs
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
  deploy/cloudflare-hosting/wrangler.jsonc
  package-lock.json
  package.json
  scripts/scry-ci
Due: format, lint, typecheck

fix(hosting): track foreground nginx across cold boot
  deploy/cloudflare-hosting/entrypoint.sh
  deploy/cloudflare-hosting/entrypoint.test.mjs
Due: none

docs(evals): Jev recall grading evaluation corpus, gold labels, raw receipts, and verifier (#169)
  docs/evals/jev-recall-20260922/README.md
  docs/evals/jev-recall-20260922/corpus.json
  docs/evals/jev-recall-20260922/gold.json
  docs/evals/jev-recall-20260922/raw.jsonl
  docs/evals/jev-recall-20260922/report.md
  scripts/evals/jev-recall/main.go
  scripts/evals/jev-recall/main_test.go
Due: format

Move Scry hosting to Cloudflare Containers (#168)
  .dagger/src/index.ts
  .gitignore
  deploy/backup-gateway/worker.mjs
  deploy/backup-gateway/worker.test.mjs
  deploy/backup-gateway/wrangler.jsonc
  deploy/cloudflare-hosting/Dockerfile
  deploy/cloudflare-hosting/README.md
  deploy/cloudflare-hosting/auth.mjs
  deploy/cloudflare-hosting/container-lifecycle.mjs
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/container.test.mjs
  deploy/cloudflare-hosting/entrypoint.sh
  deploy/cloudflare-hosting/entrypoint.test.mjs
  deploy/cloudflare-hosting/index.mjs
  deploy/cloudflare-hosting/index.test.mjs
  deploy/cloudflare-hosting/nginx.conf
  deploy/cloudflare-hosting/recovery-key.mjs
  deploy/cloudflare-hosting/recovery-key.test.mjs
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
  deploy/cloudflare-hosting/timing-safe-equal.mjs
  deploy/cloudflare-hosting/timing-safe-equal.test.mjs
  deploy/cloudflare-hosting/wrangler.jsonc
  package-lock.json
  package.json
  scripts/scry-ci
Due: format, lint, typecheck

docs: record Scry Cloudflare cutover and recovery limits
  docs/runbook.md
Due: format

docs: record owner-reported Scry phone acceptance
  docs/runbook.md
Due: format

fix(recovery): run native checks while Scry container is active
  deploy/cloudflare-hosting/backup-cycle.mjs
  deploy/cloudflare-hosting/backup-cycle.test.mjs
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/index.mjs
  deploy/cloudflare-hosting/wrangler.jsonc
  docs/runbook.md
Due: format

fix(recovery): defer idle stop when owner traffic races backup
  deploy/cloudflare-hosting/backup-cycle.mjs
  deploy/cloudflare-hosting/backup-cycle.test.mjs
  deploy/cloudflare-hosting/container.mjs
Due: none

fix(recovery): schedule safe Cloudflare snapshot checks (#174)
  deploy/cloudflare-hosting/backup-cycle.mjs
  deploy/cloudflare-hosting/backup-cycle.test.mjs
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/index.mjs
  deploy/cloudflare-hosting/wrangler.jsonc
  docs/runbook.md
Due: format

fix(recovery): report redacted scheduled backup failure reason
  deploy/cloudflare-hosting/backup-cycle.mjs
  deploy/cloudflare-hosting/backup-cycle.test.mjs
  deploy/cloudflare-hosting/container.mjs
Due: none

fix(recovery): pass backup config to the scheduled exec
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
Due: none

fix(recovery): run the scheduled backup exec as the image user
  deploy/cloudflare-hosting/container.mjs
Due: none

test(recovery): pin the scheduled backup exec invocation
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
Due: none

docs(recovery): note scheduled backup failure logging and exec env
  docs/runbook.md
Due: format

fix(recovery): give the scheduled backup exec its settings (#175)
  deploy/cloudflare-hosting/backup-cycle.mjs
  deploy/cloudflare-hosting/backup-cycle.test.mjs
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
  docs/runbook.md
Due: format

fix(recovery): let a fresh container instance idle-stop
  deploy/cloudflare-hosting/backup-cycle.mjs
  deploy/cloudflare-hosting/backup-cycle.test.mjs
  deploy/cloudflare-hosting/container.mjs
Due: none

docs(recovery): reconcile the runbook with the observed daily cycle
  docs/runbook.md
Due: format

fix(recovery): let a fresh container instance idle-stop (#176)
  deploy/cloudflare-hosting/backup-cycle.mjs
  deploy/cloudflare-hosting/backup-cycle.test.mjs
  deploy/cloudflare-hosting/container.mjs
  docs/runbook.md
Due: format

docs(runbook): record the live Worker after the recovery closeout
  docs/runbook.md
Due: format

docs(runbook): record the live Worker after the recovery closeout (#177)
  docs/runbook.md
Due: format

feat(hosting): forward Jev Decisions settings to the production Container
  deploy/cloudflare-hosting/README.md
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
  deploy/cloudflare-hosting/wrangler.jsonc
  docs/runbook.md
Due: format

feat(hosting): forward Jev Decisions settings to the production Container (#178)
  deploy/cloudflare-hosting/README.md
  deploy/cloudflare-hosting/container.mjs
  deploy/cloudflare-hosting/runtime-env.mjs
  deploy/cloudflare-hosting/runtime-env.test.mjs
  deploy/cloudflare-hosting/wrangler.jsonc
  docs/runbook.md
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,json,md}
  lint: any of: *.{js,jsx,ts,tsx}
  typecheck: any of: *.{ts,tsx}
